@page "/cars/{Id:int}"
@using Helpers
@using HogeBlazor.Shared.Models.Db

<div class="row">
    <h4>@Car.MakerName</h4>
    <h1>@Car.ModelName</h1>
    <div class="row pr-0">
        <!-- 左列 -->
        <div class="col-md-7 pr-0">
            <!-- 基本情報 -->
            <RadzenPanel>
                <h4>基本情報</h4>
                <div class="spec-container">
                    <SingleItem Name="@(CommentHelper.GetCommentOnProperty("HogeBlazor.Shared.Models.Db.Body", "Type"))"
                        Value=@Car.Body.Type />
                    <SingleItem
                        Name="@(CommentHelper.GetCommentOnProperty("HogeBlazor.Shared.Models.Db.Car", "DriveSystem"))"
                        Value=@Car.DriveSystem />
                    <SingleItem
                        Name="@(CommentHelper.GetCommentOnProperty("HogeBlazor.Shared.Models.Db.Car", "PowerTrain"))"
                        Value=@Car.PowerTrain />
                    <SingleItem
                        Name="@(CommentHelper.GetCommentOnProperty("HogeBlazor.Shared.Models.Db.Car", "ModelCode"))"
                        Value=@Car.ModelCode />
                    <SingleItem
                        Name="@(CommentHelper.GetCommentOnProperty("HogeBlazor.Shared.Models.Db.Car", "GradeName"))"
                        Value=@Car.GradeName />
                    <SingleItem Name="@(CommentHelper.GetCommentOnProperty("HogeBlazor.Shared.Models.Db.Car", "Price"))"
                        Value=@FormatAsPrice(Car.Price) />
                    <MultipleItem Name="モデルチェンジ" KVPairs=@ModelChangeDates(Car) />
                </div>
                <div class="spec-container">
                    <SingleItem
                        Name="@(CommentHelper.GetCommentOnProperty("HogeBlazor.Shared.Models.Db.Car", "Steering"))"
                        Value=@Car.Steering />
                    <MultipleItem Name="サスペンション形式" KVPairs=@SuspensionTypes(Car) />
                    <MultipleItem Name="ブレーキ形式" KVPairs=@BrakeTypes(Car) />
                    <ListItem
                        Name="@(CommentHelper.GetCommentOnProperty("HogeBlazor.Shared.Models.Db.Car", "FuelEfficiency"))"
                        Values=@Car.FuelEfficiency />
                </div>
            </RadzenPanel>
            <RadzenPanel>
                <h4>性能</h4>
                <div class="spec-container">
                    <SingleItem
                        Name="@(CommentHelper.GetCommentOnProperty("HogeBlazor.Shared.Models.Db.Performance", "MinTurningRadius"))"
                        Value=@ToString(Car.Performance.MinTurningRadius) />
                    @if (Car.PowerTrain != PowerTrain.BEV)
                    {
                        <EngineSpecItem Perf="@Car.Performance" />
                    }
                    else
                    {
                        <MotorSpecItem Perf="@Car.Performance" />
                    }
                </div>
            </RadzenPanel>
            <RadzenPanel>
                <h4>エンジン</h4>
                <div class="spec-container">
                    <SingleItem Name="型式" Value=@Car.Engine.Code />
                    <SingleItem Name="種類" Value=@Car.Engine.Type />
                    <SingleItem
                        Name="@(CommentHelper.GetCommentOnProperty("HogeBlazor.Shared.Models.Db.Engine", "CylinderNum"))"
                        Value=@ToString(Car.Engine.CylinderNum) />
                    <SingleItem
                        Name="@(CommentHelper.GetCommentOnProperty("HogeBlazor.Shared.Models.Db.Engine", "CylinderLayout"))"
                        Value=@Car.Engine.CylinderLayout />
                    <SingleItem
                        Name="@(CommentHelper.GetCommentOnProperty("HogeBlazor.Shared.Models.Db.Engine", "ValveSystem"))"
                        Value=@Car.Engine.ValveSystem />
                    <SingleItem
                        Name="@(CommentHelper.GetCommentOnProperty("HogeBlazor.Shared.Models.Db.Engine", "Displacement"))"
                        Value=@ToString(Car.Engine.Displacement) />
                    <SingleItem
                        Name="@(CommentHelper.GetCommentOnProperty("HogeBlazor.Shared.Models.Db.Engine", "Bore"))"
                        Value=@ToString(Car.Engine.Bore) />
                    <SingleItem
                        Name="@(CommentHelper.GetCommentOnProperty("HogeBlazor.Shared.Models.Db.Engine", "Stroke"))"
                        Value=@ToString(Car.Engine.Stroke) />
                    <SingleItem
                        Name="@(CommentHelper.GetCommentOnProperty("HogeBlazor.Shared.Models.Db.Engine", "CompressionRatio"))"
                        Value=@ToString(Car.Engine.CompressionRatio) />
                    <SingleItem
                        Name="@(CommentHelper.GetCommentOnProperty("HogeBlazor.Shared.Models.Db.Engine", "MaxOutput"))"
                        Value=@ToString(Car.Engine.MaxOutput) />
                    <MultipleItem Name="最高出力回転数(rpm)" KVPairs=@MaxOutputRpm(Car, "Engine") />
                    <SingleItem
                        Name="@(CommentHelper.GetCommentOnProperty("HogeBlazor.Shared.Models.Db.Engine", "MaxTorque"))"
                        Value=@ToString(Car.Engine.MaxTorque) />
                    <MultipleItem Name="最大トルク回転数(rpm)" KVPairs=@MaxTorqueRpm(Car, "Engine") />
                    <SingleItem
                        Name="@(CommentHelper.GetCommentOnProperty("HogeBlazor.Shared.Models.Db.Engine", "MaxTorque"))"
                        Value=@ToString(Car.Engine.MaxTorque) />
                    <SingleItem
                        Name="@(CommentHelper.GetCommentOnProperty("HogeBlazor.Shared.Models.Db.Engine", "FuelSystem"))"
                        Value=@Car.Engine.FuelSystem />
                    <SingleItem
                        Name="@(CommentHelper.GetCommentOnProperty("HogeBlazor.Shared.Models.Db.Engine", "FuelType"))"
                        Value=@Car.Engine.FuelType />
                    <SingleItem
                        Name="@(CommentHelper.GetCommentOnProperty("HogeBlazor.Shared.Models.Db.Engine", "FuelTankCap"))"
                        Value=@ToString(Car.Engine.FuelTankCap) />
                </div>
            </RadzenPanel>
            @if (Car.MotorX != default)
            {
                <RadzenPanel>
                    <h4>モーター1</h4>
                    <div class="spec-container">
                        <SingleItem Name="型式" Value=@Car.MotorX.Code />
                        <SingleItem Name="種類" Value=@Car.MotorX.Type />
                        <SingleItem Name="用途" Value=@Car.MotorX.Purpose />
                        <SingleItem
                        Name="@(CommentHelper.GetCommentOnProperty("HogeBlazor.Shared.Models.Db.Motor", "RatedOutput"))"
                        Value=@ToString(Car.MotorX.RatedOutput) />
                        <SingleItem
                        Name="@(CommentHelper.GetCommentOnProperty("HogeBlazor.Shared.Models.Db.Motor", "MaxOutput"))"
                        Value=@ToString(Car.MotorX.MaxOutput) />
                        <MultipleItem Name="最高出力回転数(rpm)" KVPairs=@MaxOutputRpm(Car, "MotorX") />
                        <SingleItem
                        Name="@(CommentHelper.GetCommentOnProperty("HogeBlazor.Shared.Models.Db.Motor", "MaxTorque"))"
                        Value=@ToString(Car.MotorX.MaxTorque) />
                        <MultipleItem Name="最高トルク回転数(rpm)" KVPairs=@MaxTorqueRpm(Car, "MotorX") />
                    </div>
                </RadzenPanel>
            }
            @if (Car.MotorY != default)
            {
                <RadzenPanel>
                    <h4>モーター2</h4>
                    <div class="spec-container">
                        <SingleItem Name="型式" Value=@Car.MotorY.Code />
                        <SingleItem Name="種類" Value=@Car.MotorY.Type />
                        <SingleItem Name="用途" Value=@Car.MotorY.Purpose />
                        <SingleItem
                        Name="@(CommentHelper.GetCommentOnProperty("HogeBlazor.Shared.Models.Db.Motor", "RatedOutput"))"
                        Value=@ToString(Car.MotorY.RatedOutput) />
                        <SingleItem
                        Name="@(CommentHelper.GetCommentOnProperty("HogeBlazor.Shared.Models.Db.Motor", "MaxOutput"))"
                        Value=@ToString(Car.MotorY.MaxOutput) />
                        <MultipleItem Name="最高出力回転数(rpm)" KVPairs=@MaxOutputRpm(Car, "MotorY") />
                        <SingleItem
                        Name="@(CommentHelper.GetCommentOnProperty("HogeBlazor.Shared.Models.Db.Motor", "MaxTorque"))"
                        Value=@ToString(Car.MotorY.MaxTorque) />
                        <MultipleItem Name="最高トルク回転数(rpm)" KVPairs=@MaxTorqueRpm(Car, "MotorY") />
                    </div>
                </RadzenPanel>
            }
            @if (Car.Battery != default)
            {
                <RadzenPanel>
                    <h4>バッテリー</h4>
                    <div class="spec-container">
                        <SingleItem Name="種類" Value=@Car.Battery.Type />
                        <SingleItem Name="個数" Value=@ToString(Car.Battery.Quantity) />
                        <SingleItem Name="電圧(V)" Value=@ToString(Car.Battery.Voltage) />
                        <SingleItem Name="容量(Ah)" Value=@ToString(Car.Battery.Capacity) />
                    </div>
                </RadzenPanel>
            }
            <RadzenPanel>
                <h4>タイヤ</h4>
                <div class="spec-container">
                    <MultipleItem Name="幅(mm)" KVPairs=@SectionWidth(Car) />
                    <MultipleItem Name="扁平率(%)" KVPairs=@AspectRatio(Car) />
                    <MultipleItem Name="ホイール径(インチ)" KVPairs=@WheelDiameter(Car) />
                </div>
            </RadzenPanel>
            <RadzenPanel>
                <h4>トランスミッション</h4>
                <div class="spec-container">
                    <SingleItem Name="種類" Value=@Car.Transmission.Type />
                    <MultipleItem Name="変速比" KVPairs=@GearRatios(Car) />
                    <MultipleItem Name="減速比" KVPairs=@ReductionRaios(Car) />
                </div>
            </RadzenPanel>
        </div>

        <!-- 右列 -->
        <div class="col-md-5 px-0">
            <!-- 画像 -->
            <RadzenPanel class="px-0 py-0">
                <img src="@Car.ImageUrl" width="100%" />
            </RadzenPanel>
            <!-- 三面図 -->
            <CarFigure Car=@Car />
            <RadzenPanel>
                <h4>外寸(mm)</h4>
                <NumbersItem KVPairs=@OuterBody(Car) />
            </RadzenPanel>
            <RadzenPanel>
                <h4>内寸(mm)</h4>
                <NumbersItem KVPairs=@InteriorBody(Car) />
            </RadzenPanel>
            <RadzenPanel>
                <h4>その他</h4>
                <NumbersItem KVPairs=@OtherBody(Car) />
            </RadzenPanel>
        </div>
    </div>
</div>
