@page "/cars/{Id}"
@using HogeBlazor.Client.Models

<BreadCrumb />
<div class="row">
    <h4>@Car.MakerName</h4>
    <h1>@Car.ModelName</h1>
    <div class="row pr-0">
        <!-- 左列 -->
        <div class="col-md-9 pr-0">
            <!-- 基本情報 -->
            <RadzenPanel>
                <h4>@CarLabel.BasicInfo</h4>
                <div class="spec-container">
                    <SingleItem Name=@CarLabel.BodyType Value=@Car.BodyType />
                    <SingleItem Name=@CarLabel.DriveSystem Value=@Car.DriveSystem />
                    <SingleItem Name=@CarLabel.PowerTrain Value=@PowerTrain.Label(Car.PowerTrain) />
                    <SingleItem Name=@CarLabel.ModelCode Value=@Car.ModelCode />
                    <SingleItem Name=@CarLabel.GradeName Value=@Car.GradeName />
                    <SingleItem Name=@CarLabel.Price Value=@ToPrice(Car.Price) />
                    <MultipleItem Name=@CarLabel.ModelChange KVPairs=@ModelChangeDates(Car) />
                </div>
                <div class="spec-container">
                    <SingleItem Name=@CarLabel.Steering Value=@Car.Steering />
                    <MultipleItem Name=@CarLabel.Suspension KVPairs=@SuspensionTypes(Car) />
                    <MultipleItem Name=@CarLabel.Break KVPairs=@BrakeTypes(Car) />
                    <ListItem Name=@CarLabel.FuelEfficiency Values=@Car.FuelEfficiency />
                </div>
            </RadzenPanel>
            <!-- 性能 -->
            <RadzenPanel>
                <h4>@CarLabel.Performance</h4>
                <div class="spec-container">
                    <SingleItem Name=@CarLabel.MinTurningRadius Value=@ToString(Car.MinTurningRadius) />
                    @if (Car.PowerTrain != PowerTrain.BEV)
                    {
                        <EngineSpecItem Fcr="@Car.Fcr" />
                    }
                    else
                    {
                        <MotorSpecItem Ecr="@Car.Ecr" />
                    }
                </div>
            </RadzenPanel>
            <!-- エンジン -->
            <RadzenPanel Visible=@Helpers.ModelHelper.HasValidPropertyValue(Car.Engine)>
                <h4>@CarLabel.Engine</h4>
                <div class="spec-container">
                    <SingleItem Name=@CarLabel.Code Value=@Car.Engine.Code />
                    <SingleItem Name=@CarLabel.Type Value=@Car.Engine.Type />
                    <SingleItem Name=@CarLabel.CylinderNum Value=@ToString(Car.Engine.CylinderNum) />
                    <SingleItem Name=@CarLabel.CylinderLayout Value=@CylinderLayout.Label(Car.Engine.CylinderLayout) />
                    <SingleItem Name=@CarLabel.ValveSystem Value=@Car.Engine.ValveSystem />
                    <SingleItem Name=@CarLabel.Displacement Value=@ToString(Car.Engine.Displacement) />
                    <SingleItem Name=@CarLabel.Bore Value=@ToString(Car.Engine.Bore) />
                    <SingleItem Name=@CarLabel.Stroke Value=@ToString(Car.Engine.Stroke) />
                    <SingleItem Name=@CarLabel.CompressionRatio Value=@ToString(Car.Engine.CompressionRatio) />
                    <SingleItem Name=@CarLabel.MaxOutput Value=@ToString(Car.Engine.MaxOutput) />
                    <MultipleItem Name=@CarLabel.MaxOutputRpm KVPairs=@MaxOutputRpm(Car.Engine.MaxOutputRpm) />
                    <SingleItem Name=@CarLabel.MaxTorque Value=@ToString(Car.Engine.MaxTorque) />
                    <MultipleItem Name=@CarLabel.MaxTorqueRpm KVPairs=@MaxTorqueRpm(Car.Engine.MaxTorqueRpm) />
                    <SingleItem Name=@CarLabel.MaxTorque Value=@ToString(Car.Engine.MaxTorque) />
                    <SingleItem Name=@CarLabel.FuelSystem Value=@Car.Engine.FuelSystem />
                    <SingleItem Name=@CarLabel.FuelType Value=@FuelType.Label(Car.Engine.FuelType) />
                    <SingleItem Name=@CarLabel.FuelTankCap Value=@ToString(Car.Engine.FuelTankCap) />
                </div>
            </RadzenPanel>
            <!-- モーター1 -->
            <RadzenPanel Visible=@Helpers.ModelHelper.HasValidPropertyValue(Car.MotorX)>
                <h4>@CarLabel.MotorX</h4>
                <div class="spec-container">
                    <SingleItem Name=@CarLabel.Code Value=@Car.MotorX.Code />
                    <SingleItem Name=@CarLabel.Type Value=@Car.MotorX.Type />
                    <SingleItem Name=@CarLabel.Purpose Value=@Car.MotorX.Purpose />
                    <SingleItem Name=@CarLabel.RatedOutput Value=@ToString(Car.MotorX.RatedOutput) />
                    <SingleItem Name=@CarLabel.MaxOutput Value=@ToString(Car.MotorX.MaxOutput) />
                    <MultipleItem Name=@CarLabel.MaxOutputRpm KVPairs=@MaxOutputRpm(Car.MotorX.MaxOutputRpm) />
                    <SingleItem Name=@CarLabel.MaxTorque Value=@ToString(Car.MotorX.MaxTorque) />
                    <MultipleItem Name=@CarLabel.MaxTorqueRpm KVPairs=@MaxTorqueRpm(Car.MotorX.MaxTorqueRpm) />
                </div>
            </RadzenPanel>
            <!-- モーター2 -->
            <RadzenPanel Visible=@Helpers.ModelHelper.HasValidPropertyValue(Car.MotorY)>
                <h4>@CarLabel.MotorY</h4>
                <div class="spec-container">
                    <SingleItem Name=@CarLabel.Code Value=@Car.MotorY.Code />
                    <SingleItem Name=@CarLabel.Type Value=@Car.MotorY.Type />
                    <SingleItem Name=@CarLabel.Purpose Value=@Car.MotorY.Purpose />
                    <SingleItem Name=@CarLabel.RatedOutput Value=@ToString(Car.MotorY.RatedOutput) />
                    <SingleItem Name=@CarLabel.MaxOutput Value=@ToString(Car.MotorY.MaxOutput) />
                    <MultipleItem Name=@CarLabel.MaxOutputRpm KVPairs=@MaxOutputRpm(Car.MotorY.MaxOutputRpm) />
                    <SingleItem Name=@CarLabel.MaxTorque Value=@ToString(Car.MotorY.MaxTorque) />
                    <MultipleItem Name=@CarLabel.MaxTorqueRpm KVPairs=@MaxTorqueRpm(Car.MotorY.MaxTorqueRpm) />
                </div>
            </RadzenPanel>
            <!-- バッテリー -->
            <RadzenPanel Visible=@Helpers.ModelHelper.HasValidPropertyValue(Car.Battery)>
                <h4>@CarLabel.Battery</h4>
                <div class="spec-container">
                    <SingleItem Name=@CarLabel.Type Value=@Car.Battery.Type />
                    <SingleItem Name=@CarLabel.Quantity Value=@ToString(Car.Battery.Quantity) />
                    <SingleItem Name=@CarLabel.Voltage Value=@ToString(Car.Battery.Voltage) />
                    <SingleItem Name=@CarLabel.Capacity Value=@ToString(Car.Battery.Capacity) />
                </div>
            </RadzenPanel>
            <!-- タイヤ -->
            <RadzenPanel>
                <h4>@CarLabel.Tire</h4>
                <div class="spec-container">
                    <MultipleItem Name=@CarLabel.SectionWidth KVPairs=@SectionWidth(Car) />
                    <MultipleItem Name=@CarLabel.AspectRatio KVPairs=@AspectRatio(Car) />
                    <MultipleItem Name=@CarLabel.WheelDiameter KVPairs=@WheelDiameter(Car) />
                </div>
            </RadzenPanel>
            <!-- トランスミッション -->
            <RadzenPanel Visible=@Helpers.ModelHelper.HasValidPropertyValue(Car.Transmission)>
                <h4>@CarLabel.Transmission</h4>
                <div class="spec-container">
                    <SingleItem Name=@CarLabel.Type Value=@Car.Transmission.Type />
                    <MultipleItem Name=@CarLabel.GearRatios KVPairs=@GearRatios(Car) />
                    <MultipleItem Name=@CarLabel.ReductionRatio KVPairs=@ReductionRaio(Car) />
                </div>
            </RadzenPanel>
        </div>

        <!-- 右列 -->
        <div class="col-md-3 px-0">
            <!-- 画像 -->
            <RadzenPanel class="px-0 py-0">
                <a href="@Car.ImageUrl" target="_blank">
                    <img src="@Car.ImageUrl" width="100%" />
                </a>
            </RadzenPanel>
            <!-- 三面図 -->
            <CarFigure Car=@Car />
            <RadzenPanel>
                <h4>外寸(mm)</h4>
                <NumbersItem KVPairs=@OuterBody(Car) />
            </RadzenPanel>
            <RadzenPanel>
                <h4>内寸(mm)</h4>
                <NumbersItem KVPairs=@InteriorBody(Car) />
            </RadzenPanel>
            <RadzenPanel>
                <h4>その他</h4>
                <NumbersItem KVPairs=@OtherBody(Car) />
            </RadzenPanel>
        </div>
    </div>
</div>
