@page "/cars"
@* @using System.Security.Claims *@
@using Helpers
@using HogeBlazor.Client.Models
@* @using using HogeBlazor.Shared.Models *@
@* @using Microsoft.AspNetCore.Authorization *@
@* @attribute [Authorize(Roles = "Administrator")] *@

<div>
    <RadzenCheckBox Name="OuterBodyVisibleCheckBox" Change=@((bool v) => OuterBodyVisible = !OuterBodyVisible) />
    <RadzenLabel Text="外寸" Component="OuterBodyVisibleCheckBox" />

    <RadzenCheckBox Name="InteriorVisibleCheckBox" Change=@((bool v) => InteriorVisible = !InteriorVisible) />
    <RadzenLabel Text="内寸" Component="InteriorVisibleCheckBox" />

    <RadzenCheckBox Name="PerformanceVisibleCheckBox" Change=@((bool v) => PerformanceVisible = !PerformanceVisible) />
    <RadzenLabel Text="走行性能" Component="PerformanceVisibleCheckBox" />

    <RadzenCheckBox Name="EngineVisibleCheckBox" Change=@((bool v) => EngineVisible = !EngineVisible) />
    <RadzenLabel Text="エンジン" Component="EngineVisibleCheckBox" />

    <RadzenCheckBox Name="MotorVisibleCheckBox" Change=@((bool v) => MotorVisible = !MotorVisible) />
    <RadzenLabel Text="モーター" Component="MotorVisibleCheckBox" />

    <RadzenCheckBox Name="BatteryVisibleCheckBox" Change=@((bool v) => BatteryVisible = !BatteryVisible) />
    <RadzenLabel Text="バッテリー" Component="BatteryVisibleCheckBox" />

    <RadzenCheckBox Name="TireVisibleCheckBox" Change=@((bool v) => TireVisible = !TireVisible) />
    <RadzenLabel Text="タイヤ" Component="TireVisibleCheckBox" />

    <RadzenCheckBox Name="TransmissionVisibleCheckBox" Change=@((bool v) => TransmissionVisible =
        !TransmissionVisible) />
    <RadzenLabel Text="トランスミッション" Component="TransmissionVisibleCheckBox" />

    <RadzenCheckBox Name="OtherVisibleCheckBox" Change=@((bool v) => OtherVisible = !OtherVisible) />
    <RadzenLabel Text="その他" Component="OtherVisibleCheckBox" />
</div>
<div>
    <RadzenDataGrid Data="@CarList" TItem="CarDisp" AllowColumnResize="true" ColumnWidth="80px" AllowFiltering="true"
        AllowSorting="true" EqualsText="一致" NotEqualsText="不一致" ContainsText="含む" DoesNotContainText="含まない"
        StartsWithText="先頭" EndsWithText="末尾" IsNullText="データなし" IsNotNullText="データあり" AndOperatorText="かつ"
        OrOperatorText="または" ClearFilterText="クリア" ApplyFilterText="適用" FilterText="フィルタ">
        <Columns>
            <RadzenDataGridColumn TItem="CarDisp" Property="MakerName" Frozen="true" Filterable="false"
                Sortable="false">
                <Template Context="car">
                    <div class="flex-container">
                        <div class="flex-item">
                            <div class="image-wrap">
                                <RadzenImage class="image-img" Path="@car.ImageUrl" />
                            </div>
                        </div>
                    </div>
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="CarDisp" Property="ModelName" Title="@TitleModelName" Width="100px"
                Frozen="true" />

            <RadzenDataGridColumn TItem="CarDisp" Property="MakerName" Title="@TitleMakerName" />
            <RadzenDataGridColumn TItem="CarDisp" Property="GradeName" Title="@TitleGradeName" Width="100px" />
            <RadzenDataGridColumn TItem="CarDisp" Property="ModelCode" Title="@TitleModelCode" />
            <RadzenDataGridColumn TItem="CarDisp" Property="Price" Title="@TitlePrice" TextAlign="TextAlign.Right"
                Width="100px">
                <Template Context="car">
                    @String.Format(new System.Globalization.CultureInfo("ja-JP"), "{0:C0}", car.Price)
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="CarDisp" Property="ModelChangeFull" Title="@TitleModelChangeFull" />
            <RadzenDataGridColumn TItem="CarDisp" Property="ModelChangeLast" Title="@TitleModelChangeLast" />

            <!-- Body -->
            <RadzenDataGridColumn TItem="CarDisp" Property="Body.Type" Title="@TitleBodyType"
                Visible="@OuterBodyVisible">
                <Template Context="car">
                    @(ConvertForDisplay<HogeBlazor.Client.Models.CarDisp>(car.BodyType))
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="CarDisp" Property="OuterBody.Length" Title="@TitleBodyLength"
                Visible="@OuterBodyVisible" FormatString="{0:#,0}" TextAlign="TextAlign.Right" />
            <RadzenDataGridColumn TItem="CarDisp" Property="OuterBody.Width" Title="@TitleBodyWidth"
                Visible="@OuterBodyVisible" FormatString="{0:#,0}" TextAlign="TextAlign.Right" />
            <RadzenDataGridColumn TItem="CarDisp" Property="OuterBody.Height" Title="@TitleBodyHeight"
                Visible="@OuterBodyVisible" FormatString="{0:#,0}" TextAlign="TextAlign.Right" />
            <RadzenDataGridColumn TItem="CarDisp" Property="OuterBody.WheelBase" Title="@TitleBodyWheelBase"
                Visible="@OuterBodyVisible" FormatString="{0:#,0}" TextAlign="TextAlign.Right" />
            <RadzenDataGridColumn TItem="CarDisp" Property="OuterBody.TreadFront" Title="@TitleBodyTreadFront"
                Visible="@OuterBodyVisible" FormatString="{0:#,0}" TextAlign="TextAlign.Right" />
            <RadzenDataGridColumn TItem="CarDisp" Property="OuterBody.TreadRear" Title="@TitleBodyTreadRear"
                Visible="@OuterBodyVisible" FormatString="{0:#,0}" TextAlign="TextAlign.Right" />
            <RadzenDataGridColumn TItem="CarDisp" Property="OtherBody.MinRoadClearance"
                Title="@TitleBodyMinRoadClearance" Visible="@OuterBodyVisible" FormatString="{0:#,0}"
                TextAlign="TextAlign.Right" />
            <RadzenDataGridColumn TItem="CarDisp" Property="OtherBody.Weight" Title="@TitleBodyWeight"
                Visible="@OuterBodyVisible" FormatString="{0:#,0}" TextAlign="TextAlign.Right" />
            <RadzenDataGridColumn TItem="CarDisp" Property="OtherBody.DoorNum" Title="@TitleBodyDoorNum"
                Visible="@OuterBodyVisible" FormatString="{0:#,0}" TextAlign="TextAlign.Right" />

            <!-- Interior -->
            <RadzenDataGridColumn TItem="CarDisp" Property="InteriorBody.Length" Title="@TitleInteriorLength"
                Visible="@InteriorVisible" FormatString="{0:#,0}" TextAlign="TextAlign.Right" />
            <RadzenDataGridColumn TItem="CarDisp" Property="InteriorBody.Width" Title="@TitleInteriorWidth"
                Visible="@InteriorVisible" FormatString="{0:#,0}" TextAlign="TextAlign.Right" />
            <RadzenDataGridColumn TItem="CarDisp" Property="InteriorBody.Height" Title="@TitleInteriorHeight"
                Visible="@InteriorVisible" FormatString="{0:#,0}" TextAlign="TextAlign.Right" />
            <RadzenDataGridColumn TItem="CarDisp" Property="OtherBody.LuggageCap" Title="@TitleInteriorLuggageCap"
                Visible="@InteriorVisible" FormatString="{0:#,0}" TextAlign="TextAlign.Right" />
            <RadzenDataGridColumn TItem="CarDisp" Property="OtherBody.RidingCap" Title="@TitleInteriorRidingCap"
                Visible="@InteriorVisible" FormatString="{0:#,0}" TextAlign="TextAlign.Right" />

            <!-- Performance -->
            <RadzenDataGridColumn TItem="CarDisp" Property="MinTurningRadius" Title="@TitlePerformanceMinTurningRadius"
                Visible="@PerformanceVisible" FormatString="{0:F1}" TextAlign="TextAlign.Right" />
            <RadzenDataGridColumn TItem="CarDisp" Property="Fcr.FcrWltc" Title="@TitlePerformanceFcrWltc"
                Visible="@PerformanceVisible" FormatString="{0:F1}" TextAlign="TextAlign.Right" />
            <RadzenDataGridColumn TItem="CarDisp" Property="Fcr.FcrWltcL" Title="@TitlePerformanceFcrWltcL"
                Visible="@PerformanceVisible" FormatString="{0:F1}" TextAlign="TextAlign.Right" />
            <RadzenDataGridColumn TItem="CarDisp" Property="Fcr.FcrWltcM" Title="@TitlePerformanceFcrWltcM"
                Visible="@PerformanceVisible" FormatString="{0:F1}" TextAlign="TextAlign.Right" />
            <RadzenDataGridColumn TItem="CarDisp" Property="Fcr.FcrWltcH" Title="@TitlePerformanceFcrWltcH"
                Visible="@PerformanceVisible" FormatString="{0:F1}" TextAlign="TextAlign.Right" />
            <RadzenDataGridColumn TItem="CarDisp" Property="Fcr.FcrJc08" Title="@TitlePerformanceFcrJc08"
                Visible="@PerformanceVisible" FormatString="{0:F1}" TextAlign="TextAlign.Right" />
            <RadzenDataGridColumn TItem="CarDisp" Property="Ecr.MpcWltc" Title="@TitlePerformanceMpcWltc"
                Visible="@PerformanceVisible" FormatString="{0:F1}" TextAlign="TextAlign.Right" />
            <RadzenDataGridColumn TItem="CarDisp" Property="Ecr.EcrWltc" Title="@TitlePerformanceEcrWltc"
                Visible="@PerformanceVisible" FormatString="{0:F1}" TextAlign="TextAlign.Right" />
            <RadzenDataGridColumn TItem="CarDisp" Property="Ecr.EcrWltcL" Title="@TitlePerformanceEcrWltcL"
                Visible="@PerformanceVisible" FormatString="{0:F1}" TextAlign="TextAlign.Right" />
            <RadzenDataGridColumn TItem="CarDisp" Property="Ecr.EcrWltcM" Title="@TitlePerformanceEcrWltcM"
                Visible="@PerformanceVisible" FormatString="{0:F1}" TextAlign="TextAlign.Right" />
            <RadzenDataGridColumn TItem="CarDisp" Property="Ecr.EcrWltcH" Title="@TitlePerformanceEcrWltcH"
                Visible="@PerformanceVisible" FormatString="{0:F1}" TextAlign="TextAlign.Right" />
            <RadzenDataGridColumn TItem="CarDisp" Property="Ecr.EcrJc08" Title="@TitlePerformanceEcrJc08"
                Visible="@PerformanceVisible" FormatString="{0:F1}" TextAlign="TextAlign.Right" />
            <RadzenDataGridColumn TItem="CarDisp" Property="Ecr.MpcJc08" Title="@TitlePerformanceMpcJc08"
                Visible="@PerformanceVisible" FormatString="{0:F1}" TextAlign="TextAlign.Right" />

            <RadzenDataGridColumn TItem="CarDisp" Property="PowerTrain" Title="@TitlePowerTrain">
                <Template Context="car">
                    @(ConvertForDisplay<HogeBlazor.Shared.Models.Db.PowerTrain>(car.PowerTrain))
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="CarDisp" Property="DriveSystem" Title="@TitleDriveSystem" />

            <!-- Engine -->
            <RadzenDataGridColumn TItem="CarDisp" Property="Engine.Code" Title="@TitleEngineCode"
                Visible="@EngineVisible" />
            <RadzenDataGridColumn TItem="CarDisp" Property="Engine.Type" Title="@TitleEngineType"
                Visible="@EngineVisible" />
            <RadzenDataGridColumn TItem="CarDisp" Property="Engine.CylinderNum" Title="@TitleEngineCylinderNum"
                Visible="@EngineVisible" TextAlign="TextAlign.Right" />
            <RadzenDataGridColumn TItem="CarDisp" Property="Engine.CylinderLayout" Title="@TitleEngineCylinderLayout"
                Visible="@EngineVisible">
                <Template Context="car">
                    @(ConvertForDisplay<HogeBlazor.Shared.Models.Db.CylinderLayout>(car.Engine.CylinderLayout))
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="CarDisp" Property="Engine.ValveSystem" Title="@TitleEngineValveSystem"
                Visible="@EngineVisible" />
            <RadzenDataGridColumn TItem="CarDisp" Property="Engine.Displacement" Title="@TitleEngineDisplacement"
                Visible="@EngineVisible" TextAlign="TextAlign.Right" />
            <RadzenDataGridColumn TItem="CarDisp" Property="Engine.Bore" Title="@TitleEngineBore"
                Visible="@EngineVisible" FormatString="{0:F1}" TextAlign="TextAlign.Right" />
            <RadzenDataGridColumn TItem="CarDisp" Property="Engine.Stroke" Title="@TitleEngineStroke"
                Visible="@EngineVisible" FormatString="{0:F1}" TextAlign="TextAlign.Right" />
            <RadzenDataGridColumn TItem="CarDisp" Property="Engine.CompressionRatio"
                Title="@TitleEngineCompressionRatio" Visible="@EngineVisible" FormatString="{0:F1}"
                TextAlign="TextAlign.Right" />
            <RadzenDataGridColumn TItem="CarDisp" Property="Engine.MaxOutput" Title="@TitleEngineMaxOutput"
                Visible="@EngineVisible" FormatString="{0:F1}" TextAlign="TextAlign.Right" />
            <RadzenDataGridColumn TItem="CarDisp" Property="Engine.MaxOutputLowerRpm"
                Title="@TitleEngineMaxOutputLowerRpm" Visible="@EngineVisible" FormatString="{0:F0}"
                TextAlign="TextAlign.Right" />
            <RadzenDataGridColumn TItem="CarDisp" Property="Engine.MaxOutputUpperRpm"
                Title="@TitleEngineMaxOutputUpperRpm" Visible="@EngineVisible" FormatString="{0:F0}"
                TextAlign="TextAlign.Right" />
            <RadzenDataGridColumn TItem="CarDisp" Property="Engine.MaxTorque" Title="@TitleEngineMaxTorque"
                Visible="@EngineVisible" FormatString="{0:F1}" TextAlign="TextAlign.Right" />
            <RadzenDataGridColumn TItem="CarDisp" Property="Engine.MaxTorqueLowerRpm"
                Title="@TitleEngineMaxTorqueLowerRpm" Visible="@EngineVisible" FormatString="{0:F0}"
                TextAlign="TextAlign.Right" />
            <RadzenDataGridColumn TItem="CarDisp" Property="Engine.MaxTorqueUpperRpm"
                Title="@TitleEngineMaxTorqueUpperRpm" Visible="@EngineVisible" FormatString="{0:F0}"
                TextAlign="TextAlign.Right" />
            <RadzenDataGridColumn TItem="CarDisp" Property="Engine.FuelSystem" Title="@TitleEngineFuelSystem"
                Visible="@EngineVisible" />
            <RadzenDataGridColumn TItem="CarDisp" Property="Engine.FuelType" Title="@TitleEngineFuelType"
                Visible="@EngineVisible">
                <Template Context="car">
                    @(ConvertForDisplay<HogeBlazor.Shared.Models.Db.FuelType>(car.Engine.FuelType))
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="CarDisp" Property="Engine.FuelTankCap" Title="@TitleEngineFuelTankCap"
                Visible="@EngineVisible" FormatString="{0:F0}" TextAlign="TextAlign.Right" />

            <!-- MotorX -->
            <RadzenDataGridColumn TItem="CarDisp" Property="MotorX.Code" Title="@TitleMotorCode"
                Visible="@MotorVisible" />
            <RadzenDataGridColumn TItem="CarDisp" Property="MotorX.Type" Title="@TitleMotorType"
                Visible="@MotorVisible" />
            <RadzenDataGridColumn TItem="CarDisp" Property="MotorX.Purpose" Title="@TitleMotorPurpose"
                Visible="@MotorVisible" />
            <RadzenDataGridColumn TItem="CarDisp" Property="MotorX.RatedOutput" Title="@TitleMotorRatedOutput"
                Visible="@MotorVisible" FormatString="{0:#,0}" TextAlign="TextAlign.Right" />
            <RadzenDataGridColumn TItem="CarDisp" Property="MotorX.MaxOutput" Title="@TitleMotorMaxOutput"
                Visible="@MotorVisible" FormatString="{0:#,0}" TextAlign="TextAlign.Right" />
            <RadzenDataGridColumn TItem="CarDisp" Property="MotorX.MaxOutputLowerRpm"
                Title="@TitleMotorMaxOutputLowerRpm" Visible="@MotorVisible" FormatString="{0:#,0}"
                TextAlign="TextAlign.Right" />
            <RadzenDataGridColumn TItem="CarDisp" Property="MotorX.MaxOutputUpperRpm"
                Title="@TitleMotorMaxOutputUpperRpm" Visible="@MotorVisible" FormatString="{0:#,0}"
                TextAlign="TextAlign.Right" />
            <RadzenDataGridColumn TItem="CarDisp" Property="MotorX.MaxTorque" Title="@TitleMotorMaxTorque"
                Visible="@MotorVisible" FormatString="{0:#,0}" TextAlign="TextAlign.Right" />
            <RadzenDataGridColumn TItem="CarDisp" Property="MotorX.MaxTorqueLowerRpm"
                Title="@TitleMotorMaxTorqueLowerRpm" Visible="@MotorVisible" FormatString="{0:#,0}"
                TextAlign="TextAlign.Right" />
            <RadzenDataGridColumn TItem="CarDisp" Property="MotorX.MaxTorqueUpperRpm"
                Title="@TitleMotorMaxTorqueUpperRpm" Visible="@MotorVisible" FormatString="{0:#,0}"
                TextAlign="TextAlign.Right" />

            <!-- MotorY -->
            <RadzenDataGridColumn TItem="CarDisp" Property="MotorY.Code" Title="@TitleMotorCode"
                Visible="@MotorVisible" />
            <RadzenDataGridColumn TItem="CarDisp" Property="MotorY.Type" Title="@TitleMotorType"
                Visible="@MotorVisible" />
            <RadzenDataGridColumn TItem="CarDisp" Property="MotorY.Purpose" Title="@TitleMotorPurpose"
                Visible="@MotorVisible" />
            <RadzenDataGridColumn TItem="CarDisp" Property="MotorY.RatedOutput" Title="@TitleMotorRatedOutput"
                Visible="@MotorVisible" FormatString="{0:#,0}" TextAlign="TextAlign.Right" />
            <RadzenDataGridColumn TItem="CarDisp" Property="MotorY.MaxOutput" Title="@TitleMotorMaxOutput"
                Visible="@MotorVisible" FormatString="{0:#,0}" TextAlign="TextAlign.Right" />
            <RadzenDataGridColumn TItem="CarDisp" Property="MotorY.MaxOutputLowerRpm"
                Title="@TitleMotorMaxOutputLowerRpm" Visible="@MotorVisible" FormatString="{0:#,0}"
                TextAlign="TextAlign.Right" />
            <RadzenDataGridColumn TItem="CarDisp" Property="MotorY.MaxOutputUpperRpm"
                Title="@TitleMotorMaxOutputUpperRpm" Visible="@MotorVisible" FormatString="{0:#,0}"
                TextAlign="TextAlign.Right" />
            <RadzenDataGridColumn TItem="CarDisp" Property="MotorY.MaxTorque" Title="@TitleMotorMaxTorque"
                Visible="@MotorVisible" FormatString="{0:#,0}" TextAlign="TextAlign.Right" />
            <RadzenDataGridColumn TItem="CarDisp" Property="MotorY.MaxTorqueLowerRpm"
                Title="@TitleMotorMaxTorqueLowerRpm" Visible="@MotorVisible" FormatString="{0:#,0}"
                TextAlign="TextAlign.Right" />
            <RadzenDataGridColumn TItem="CarDisp" Property="MotorY.MaxTorqueUpperRpm"
                Title="@TitleMotorMaxTorqueUpperRpm" Visible="@MotorVisible" FormatString="{0:#,0}"
                TextAlign="TextAlign.Right" />

            <!-- Battery -->
            <RadzenDataGridColumn TItem="CarDisp" Property="Battery.Type" Title="@TitleBatteryType"
                Visible="@BatteryVisible" />
            <RadzenDataGridColumn TItem="CarDisp" Property="Battery.Quantity" Title="@TitleBatteryQuantity"
                Visible="@BatteryVisible" TextAlign="TextAlign.Right" />
            <RadzenDataGridColumn TItem="CarDisp" Property="Battery.Voltage" Title="@TitleBatteryVoltage"
                Visible="@BatteryVisible" FormatString="{0:F1}" TextAlign="TextAlign.Right" />
            <RadzenDataGridColumn TItem="CarDisp" Property="Battery.Capacity" Title="@TitleBatteryCapacity"
                Visible="@BatteryVisible" FormatString="{0:F1}" TextAlign="TextAlign.Right" />

            <RadzenDataGridColumn TItem="CarDisp" Property="Steering" Title="@TitleSteering" Visible="@OtherVisible" />
            <RadzenDataGridColumn TItem="CarDisp" Property="SuspensionFront" Title="@TitleSuspensionFront"
                Visible="@OtherVisible" />
            <RadzenDataGridColumn TItem="CarDisp" Property="SuspensionRear" Title="@TitleSuspensionRear"
                Visible="@OtherVisible" />
            <RadzenDataGridColumn TItem="CarDisp" Property="BrakeFront" Title="@TitleBrakeFront"
                Visible="@OtherVisible" />
            <RadzenDataGridColumn TItem="CarDisp" Property="BrakeRear" Title="@TitleBrakeRear"
                Visible="@OtherVisible" />

            <!-- TireFront -->
            <RadzenDataGridColumn TItem="CarDisp" Property="TireFront.SectionWidth" Title="@TitleTireSectionWidth"
                Visible="@TireVisible" TextAlign="TextAlign.Right" />
            <RadzenDataGridColumn TItem="CarDisp" Property="TireFront.AspectRatio" Title="@TitleTireAspectRatio"
                Visible="@TireVisible" TextAlign="TextAlign.Right" />
            <RadzenDataGridColumn TItem="CarDisp" Property="TireFront.WheelDiameter" Title="@TitleTireWheelDiameter"
                Visible="@TireVisible" TextAlign="TextAlign.Right" />

            <!-- TireRear -->
            <RadzenDataGridColumn TItem="CarDisp" Property="TireRear.SectionWidth" Title="@TitleTireSectionWidth"
                Visible="@TireVisible" TextAlign="TextAlign.Right" />
            <RadzenDataGridColumn TItem="CarDisp" Property="TireRear.AspectRatio" Title="@TitleTireAspectRatio"
                Visible="@TireVisible" TextAlign="TextAlign.Right" />
            <RadzenDataGridColumn TItem="CarDisp" Property="TireRear.WheelDiameter" Title="@TitleTireWheelDiameter"
                Visible="@TireVisible" TextAlign="TextAlign.Right" />

            <!-- Transmission -->
            <RadzenDataGridColumn TItem="CarDisp" Property="Transmission.Type" Title="@TitleTransmissionType"
                Visible="@TransmissionVisible">
                <Template Context="car">
                    @(ConvertForDisplay<HogeBlazor.Shared.Models.Db.TransmissionType>(car.Transmission.TransmissionType))
                </Template>
            </RadzenDataGridColumn>
            <!-- TODOfloat[]のままでは表示できないので調整が必要 -->
            @* <RadzenDataGridColumn TItem="CarDisp" Property="Transmission.GearRatiosFront"
                Title="@TitleTransmissionGearRatiosFront" Visible="@TransmissionVisible" /> *@
            <RadzenDataGridColumn TItem="CarDisp" Property="Transmission.GearRatioRear"
                Title="@TitleTransmissionGearRatioRear" Visible="@TransmissionVisible" TextAlign="TextAlign.Right" />
            <RadzenDataGridColumn TItem="CarDisp" Property="Transmission.ReductionRatioFront"
                Title="@TitleTransmissionReductionRatioFront" Visible="@TransmissionVisible"
                TextAlign="TextAlign.Right" />
            <RadzenDataGridColumn TItem="CarDisp" Property="Transmission.ReductionRatioRear"
                Title="@TitleTransmissionReductionRatioRear" Visible="@TransmissionVisible"
                TextAlign="TextAlign.Right" />

            <RadzenDataGridColumn TItem="CarDisp" Property="FuelEfficiency" Title="@TitleFuelEfficiency"
                Visible="@OtherVisible" />
        </Columns>
    </RadzenDataGrid>
</div>

@* <RadzenDataList WrapItems="true" AllowPaging="true" Data="@CarList" TItem="CarDisp" PageSize="5"
    PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true">
    <Template Context="car">
    <!-- <RadzenCard Style="width: 100%; padding: 0; overflow: hidden;"> -->
    <div class="container">
    <div class="row">
    <div class="col-lg-3 p-3 product-title">
    @(car.MakerName)
    </div>
    </div>
    </div>
    <!-- </RadzenCard> -->
    </Template>
    </RadzenDataList> *@
