@page "/cars"
@* @using System.Security.Claims *@
@using Helpers
@* @using using HogeBlazor.Shared.Models *@
@* @using Microsoft.AspNetCore.Authorization *@
@* @attribute [Authorize(Roles = "Administrator")] *@

<div>
    <RadzenCheckBox Name="BodyVisibleCheckBox" Change=@((bool v) => BodyVisible = !BodyVisible) />
    <RadzenLabel Text="ボディ" Component="BodyVisibleCheckBox" />

    <RadzenCheckBox Name="InteriorVisibleCheckBox" Change=@((bool v) => InteriorVisible = !InteriorVisible) />
    <RadzenLabel Text="内装" Component="InteriorVisibleCheckBox" />

    <RadzenCheckBox Name="PerformanceVisibleCheckBox" Change=@((bool v) => PerformanceVisible = !PerformanceVisible) />
    <RadzenLabel Text="走行性能" Component="PerformanceVisibleCheckBox" />

    <RadzenCheckBox Name="EngineVisibleCheckBox" Change=@((bool v) => EngineVisible = !EngineVisible) />
    <RadzenLabel Text="エンジン" Component="EngineVisibleCheckBox" />

    <RadzenCheckBox Name="MotorVisibleCheckBox" Change=@((bool v) => MotorVisible = !MotorVisible) />
    <RadzenLabel Text="モーター" Component="MotorVisibleCheckBox" />

    <RadzenCheckBox Name="BatteryVisibleCheckBox" Change=@((bool v) => BatteryVisible = !BatteryVisible) />
    <RadzenLabel Text="バッテリー" Component="BatteryVisibleCheckBox" />

    <RadzenCheckBox Name="TireVisibleCheckBox" Change=@((bool v) => TireVisible = !TireVisible) />
    <RadzenLabel Text="タイヤ" Component="TireVisibleCheckBox" />

    <RadzenCheckBox Name="TransmissionVisibleCheckBox" Change=@((bool v) => TransmissionVisible =
        !TransmissionVisible) />
    <RadzenLabel Text="トランスミッション" Component="TransmissionVisibleCheckBox" />

    <RadzenCheckBox Name="OtherVisibleCheckBox" Change=@((bool v) => OtherVisible = !OtherVisible) />
    <RadzenLabel Text="その他" Component="OtherVisibleCheckBox" />
</div>
<div>
    <RadzenDataGrid Data="@CarList" TItem="Car" AllowColumnResize="true" ColumnWidth="80px" AllowFiltering="true"
        AllowSorting="true" EqualsText="一致" NotEqualsText="不一致" ContainsText="含む" DoesNotContainText="含まない"
        StartsWithText="先頭" EndsWithText="末尾" IsNullText="データなし" IsNotNullText="データあり" AndOperatorText="かつ"
        OrOperatorText="または" ClearFilterText="クリア" ApplyFilterText="適用" FilterText="フィルタ">
        <Columns>
            <RadzenDataGridColumn TItem="Car" Property="MakerName" Frozen="true" Filterable="false" Sortable="false">
                <Template Context="car">
                    <div class="flex-container">
                        <div class="flex-item">
                            <div class="image-wrap">
                                <RadzenImage class="image-img" Path="@car.ImageUrl" />
                            </div>
                        </div>
                    </div>
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="Car" Property="ModelName" Title="@TitleModelName" Width="100px"
                Frozen="true" />

            <RadzenDataGridColumn TItem="Car" Property="MakerName" Title="@TitleMakerName" />
            <RadzenDataGridColumn TItem="Car" Property="GradeName" Title="@TitleGradeName" Width="100px" />
            <RadzenDataGridColumn TItem="Car" Property="ModelCode" Title="@TitleModelCode" />
            <RadzenDataGridColumn TItem="Car" Property="Price" Title="@TitlePrice" TextAlign="TextAlign.Right"
                Width="100px">
                <Template Context="car">
                    @String.Format(new System.Globalization.CultureInfo("ja-JP"), "{0:C0}", car.Price)
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="Car" Property="ModelChangeFull" Title="@TitleModelChangeFull" />
            <RadzenDataGridColumn TItem="Car" Property="ModelChangeLast" Title="@TitleModelChangeLast" />

            <!-- Body -->
            <RadzenDataGridColumn TItem="Car" Property="Body.Type" Title="@TitleBodyType" Visible="@BodyVisible">
                <Template Context="car">
                    @(ConvertForDisplay<HogeBlazor.Shared.Models.Db.BodyType>(car.Body.Type))
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="Car" Property="Body.Length" Title="@TitleBodyLength" Visible="@BodyVisible"
                FormatString="{0:#,0}" TextAlign="TextAlign.Right" />
            <RadzenDataGridColumn TItem="Car" Property="Body.Width" Title="@TitleBodyWidth" Visible="@BodyVisible"
                FormatString="{0:#,0}" TextAlign="TextAlign.Right" />
            <RadzenDataGridColumn TItem="Car" Property="Body.Height" Title="@TitleBodyHeight" Visible="@BodyVisible"
                FormatString="{0:#,0}" TextAlign="TextAlign.Right" />
            <RadzenDataGridColumn TItem="Car" Property="Body.WheelBase" Title="@TitleBodyWheelBase"
                Visible="@BodyVisible" FormatString="{0:#,0}" TextAlign="TextAlign.Right" />
            <RadzenDataGridColumn TItem="Car" Property="Body.TreadFront" Title="@TitleBodyTreadFront"
                Visible="@BodyVisible" FormatString="{0:#,0}" TextAlign="TextAlign.Right" />
            <RadzenDataGridColumn TItem="Car" Property="Body.TreadRear" Title="@TitleBodyTreadRear"
                Visible="@BodyVisible" FormatString="{0:#,0}" TextAlign="TextAlign.Right" />
            <RadzenDataGridColumn TItem="Car" Property="Body.MinRoadClearance" Title="@TitleBodyMinRoadClearance"
                Visible="@BodyVisible" FormatString="{0:#,0}" TextAlign="TextAlign.Right" />
            <RadzenDataGridColumn TItem="Car" Property="Body.Weight" Title="@TitleBodyWeight" Visible="@BodyVisible"
                FormatString="{0:#,0}" TextAlign="TextAlign.Right" />
            <RadzenDataGridColumn TItem="Car" Property="Body.DoorNum" Title="@TitleBodyDoorNum" Visible="@BodyVisible"
                FormatString="{0:#,0}" TextAlign="TextAlign.Right" />

            <!-- Interior -->
            <RadzenDataGridColumn TItem="Car" Property="Interior.Length" Title="@TitleInteriorLength"
                Visible="@InteriorVisible" FormatString="{0:#,0}" TextAlign="TextAlign.Right" />
            <RadzenDataGridColumn TItem="Car" Property="Interior.Width" Title="@TitleInteriorWidth"
                Visible="@InteriorVisible" FormatString="{0:#,0}" TextAlign="TextAlign.Right" />
            <RadzenDataGridColumn TItem="Car" Property="Interior.Height" Title="@TitleInteriorHeight"
                Visible="@InteriorVisible" FormatString="{0:#,0}" TextAlign="TextAlign.Right" />
            <RadzenDataGridColumn TItem="Car" Property="Interior.LuggageCap" Title="@TitleInteriorLuggageCap"
                Visible="@InteriorVisible" FormatString="{0:#,0}" TextAlign="TextAlign.Right" />
            <RadzenDataGridColumn TItem="Car" Property="Interior.RidingCap" Title="@TitleInteriorRidingCap"
                Visible="@InteriorVisible" FormatString="{0:#,0}" TextAlign="TextAlign.Right" />

            <!-- Performance -->
            <RadzenDataGridColumn TItem="Car" Property="Performance.MinTurningRadius"
                Title="@TitlePerformanceMinTurningRadius" Visible="@PerformanceVisible" FormatString="{0:F1}"
                TextAlign="TextAlign.Right" />
            <RadzenDataGridColumn TItem="Car" Property="Performance.FcrWltc" Title="@TitlePerformanceFcrWltc"
                Visible="@PerformanceVisible" FormatString="{0:F1}" TextAlign="TextAlign.Right" />
            <RadzenDataGridColumn TItem="Car" Property="Performance.FcrWltcL" Title="@TitlePerformanceFcrWltcL"
                Visible="@PerformanceVisible" FormatString="{0:F1}" TextAlign="TextAlign.Right" />
            <RadzenDataGridColumn TItem="Car" Property="Performance.FcrWltcM" Title="@TitlePerformanceFcrWltcM"
                Visible="@PerformanceVisible" FormatString="{0:F1}" TextAlign="TextAlign.Right" />
            <RadzenDataGridColumn TItem="Car" Property="Performance.FcrWltcH" Title="@TitlePerformanceFcrWltcH"
                Visible="@PerformanceVisible" FormatString="{0:F1}" TextAlign="TextAlign.Right" />
            <RadzenDataGridColumn TItem="Car" Property="Performance.FcrWltcExh" Title="@TitlePerformanceFcrWltcExh"
                Visible="@PerformanceVisible" FormatString="{0:F1}" TextAlign="TextAlign.Right" />
            <RadzenDataGridColumn TItem="Car" Property="Performance.FcrJc08" Title="@TitlePerformanceFcrJc08"
                Visible="@PerformanceVisible" FormatString="{0:F1}" TextAlign="TextAlign.Right" />
            <RadzenDataGridColumn TItem="Car" Property="Performance.MpcWltc" Title="@TitlePerformanceMpcWltc"
                Visible="@PerformanceVisible" FormatString="{0:F1}" TextAlign="TextAlign.Right" />
            <RadzenDataGridColumn TItem="Car" Property="Performance.EcrWltc" Title="@TitlePerformanceEcrWltc"
                Visible="@PerformanceVisible" FormatString="{0:F1}" TextAlign="TextAlign.Right" />
            <RadzenDataGridColumn TItem="Car" Property="Performance.EcrWltcL" Title="@TitlePerformanceEcrWltcL"
                Visible="@PerformanceVisible" FormatString="{0:F1}" TextAlign="TextAlign.Right" />
            <RadzenDataGridColumn TItem="Car" Property="Performance.EcrWltcM" Title="@TitlePerformanceEcrWltcM"
                Visible="@PerformanceVisible" FormatString="{0:F1}" TextAlign="TextAlign.Right" />
            <RadzenDataGridColumn TItem="Car" Property="Performance.EcrWltcH" Title="@TitlePerformanceEcrWltcH"
                Visible="@PerformanceVisible" FormatString="{0:F1}" TextAlign="TextAlign.Right" />
            <RadzenDataGridColumn TItem="Car" Property="Performance.EcrWltcExh" Title="@TitlePerformanceEcrWltcExh"
                Visible="@PerformanceVisible" FormatString="{0:F1}" TextAlign="TextAlign.Right" />
            <RadzenDataGridColumn TItem="Car" Property="Performance.EcrJc08" Title="@TitlePerformanceEcrJc08"
                Visible="@PerformanceVisible" FormatString="{0:F1}" TextAlign="TextAlign.Right" />
            <RadzenDataGridColumn TItem="Car" Property="Performance.MpcJc08" Title="@TitlePerformanceMpcJc08"
                Visible="@PerformanceVisible" FormatString="{0:F1}" TextAlign="TextAlign.Right" />

            <RadzenDataGridColumn TItem="Car" Property="PowerTrain" Title="@TitlePowerTrain">
                <Template Context="car">
                    @(ConvertForDisplay<HogeBlazor.Shared.Models.Db.PowerTrain>(car.PowerTrain))
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="Car" Property="DriveSystem" Title="@TitleDriveSystem" />

            <!-- Engine -->
            <RadzenDataGridColumn TItem="Car" Property="Engine.Code" Title="@TitleEngineCode"
                Visible="@EngineVisible" />
            <RadzenDataGridColumn TItem="Car" Property="Engine.Type" Title="@TitleEngineType"
                Visible="@EngineVisible" />
            <RadzenDataGridColumn TItem="Car" Property="Engine.CylinderNum" Title="@TitleEngineCylinderNum"
                Visible="@EngineVisible" TextAlign="TextAlign.Right" />
            <RadzenDataGridColumn TItem="Car" Property="Engine.CylinderLayout" Title="@TitleEngineCylinderLayout"
                Visible="@EngineVisible">
                <Template Context="car">
                    @(ConvertForDisplay<HogeBlazor.Shared.Models.Db.CylinderLayout>(car.Engine.CylinderLayout))
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="Car" Property="Engine.ValveSystem" Title="@TitleEngineValveSystem"
                Visible="@EngineVisible" />
            <RadzenDataGridColumn TItem="Car" Property="Engine.Displacement" Title="@TitleEngineDisplacement"
                Visible="@EngineVisible" TextAlign="TextAlign.Right" />
            <RadzenDataGridColumn TItem="Car" Property="Engine.Bore" Title="@TitleEngineBore" Visible="@EngineVisible"
                FormatString="{0:F1}" TextAlign="TextAlign.Right" />
            <RadzenDataGridColumn TItem="Car" Property="Engine.Stroke" Title="@TitleEngineStroke"
                Visible="@EngineVisible" FormatString="{0:F1}" TextAlign="TextAlign.Right" />
            <RadzenDataGridColumn TItem="Car" Property="Engine.CompressionRatio" Title="@TitleEngineCompressionRatio"
                Visible="@EngineVisible" FormatString="{0:F1}" TextAlign="TextAlign.Right" />
            <RadzenDataGridColumn TItem="Car" Property="Engine.MaxOutput" Title="@TitleEngineMaxOutput"
                Visible="@EngineVisible" FormatString="{0:F1}" TextAlign="TextAlign.Right" />
            <RadzenDataGridColumn TItem="Car" Property="Engine.MaxOutputLowerRpm" Title="@TitleEngineMaxOutputLowerRpm"
                Visible="@EngineVisible" FormatString="{0:F0}" TextAlign="TextAlign.Right" />
            <RadzenDataGridColumn TItem="Car" Property="Engine.MaxOutputUpperRpm" Title="@TitleEngineMaxOutputUpperRpm"
                Visible="@EngineVisible" FormatString="{0:F0}" TextAlign="TextAlign.Right" />
            <RadzenDataGridColumn TItem="Car" Property="Engine.MaxTorque" Title="@TitleEngineMaxTorque"
                Visible="@EngineVisible" FormatString="{0:F1}" TextAlign="TextAlign.Right" />
            <RadzenDataGridColumn TItem="Car" Property="Engine.MaxTorqueLowerRpm" Title="@TitleEngineMaxTorqueLowerRpm"
                Visible="@EngineVisible" FormatString="{0:F0}" TextAlign="TextAlign.Right" />
            <RadzenDataGridColumn TItem="Car" Property="Engine.MaxTorqueUpperRpm" Title="@TitleEngineMaxTorqueUpperRpm"
                Visible="@EngineVisible" FormatString="{0:F0}" TextAlign="TextAlign.Right" />
            <RadzenDataGridColumn TItem="Car" Property="Engine.FuelSystem" Title="@TitleEngineFuelSystem"
                Visible="@EngineVisible" />
            <RadzenDataGridColumn TItem="Car" Property="Engine.FuelType" Title="@TitleEngineFuelType"
                Visible="@EngineVisible">
                <Template Context="car">
                    @(ConvertForDisplay<HogeBlazor.Shared.Models.Db.FuelType>(car.Engine.FuelType))
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="Car" Property="Engine.FuelTankCap" Title="@TitleEngineFuelTankCap"
                Visible="@EngineVisible" FormatString="{0:F0}" TextAlign="TextAlign.Right" />

            <!-- MotorX -->
            <RadzenDataGridColumn TItem="Car" Property="MotorX.Code" Title="@TitleMotorCode" Visible="@MotorVisible" />
            <RadzenDataGridColumn TItem="Car" Property="MotorX.Type" Title="@TitleMotorType" Visible="@MotorVisible" />
            <RadzenDataGridColumn TItem="Car" Property="MotorX.Purpose" Title="@TitleMotorPurpose"
                Visible="@MotorVisible" />
            <RadzenDataGridColumn TItem="Car" Property="MotorX.RatedOutput" Title="@TitleMotorRatedOutput"
                Visible="@MotorVisible" FormatString="{0:#,0}" TextAlign="TextAlign.Right" />
            <RadzenDataGridColumn TItem="Car" Property="MotorX.MaxOutput" Title="@TitleMotorMaxOutput"
                Visible="@MotorVisible" FormatString="{0:#,0}" TextAlign="TextAlign.Right" />
            <RadzenDataGridColumn TItem="Car" Property="MotorX.MaxOutputLowerRpm" Title="@TitleMotorMaxOutputLowerRpm"
                Visible="@MotorVisible" FormatString="{0:#,0}" TextAlign="TextAlign.Right" />
            <RadzenDataGridColumn TItem="Car" Property="MotorX.MaxOutputUpperRpm" Title="@TitleMotorMaxOutputUpperRpm"
                Visible="@MotorVisible" FormatString="{0:#,0}" TextAlign="TextAlign.Right" />
            <RadzenDataGridColumn TItem="Car" Property="MotorX.MaxTorque" Title="@TitleMotorMaxTorque"
                Visible="@MotorVisible" FormatString="{0:#,0}" TextAlign="TextAlign.Right" />
            <RadzenDataGridColumn TItem="Car" Property="MotorX.MaxTorqueLowerRpm" Title="@TitleMotorMaxTorqueLowerRpm"
                Visible="@MotorVisible" FormatString="{0:#,0}" TextAlign="TextAlign.Right" />
            <RadzenDataGridColumn TItem="Car" Property="MotorX.MaxTorqueUpperRpm" Title="@TitleMotorMaxTorqueUpperRpm"
                Visible="@MotorVisible" FormatString="{0:#,0}" TextAlign="TextAlign.Right" />

            <!-- MotorY -->
            <RadzenDataGridColumn TItem="Car" Property="MotorY.Code" Title="@TitleMotorCode" Visible="@MotorVisible" />
            <RadzenDataGridColumn TItem="Car" Property="MotorY.Type" Title="@TitleMotorType" Visible="@MotorVisible" />
            <RadzenDataGridColumn TItem="Car" Property="MotorY.Purpose" Title="@TitleMotorPurpose"
                Visible="@MotorVisible" />
            <RadzenDataGridColumn TItem="Car" Property="MotorY.RatedOutput" Title="@TitleMotorRatedOutput"
                Visible="@MotorVisible" FormatString="{0:#,0}" TextAlign="TextAlign.Right" />
            <RadzenDataGridColumn TItem="Car" Property="MotorY.MaxOutput" Title="@TitleMotorMaxOutput"
                Visible="@MotorVisible" FormatString="{0:#,0}" TextAlign="TextAlign.Right" />
            <RadzenDataGridColumn TItem="Car" Property="MotorY.MaxOutputLowerRpm" Title="@TitleMotorMaxOutputLowerRpm"
                Visible="@MotorVisible" FormatString="{0:#,0}" TextAlign="TextAlign.Right" />
            <RadzenDataGridColumn TItem="Car" Property="MotorY.MaxOutputUpperRpm" Title="@TitleMotorMaxOutputUpperRpm"
                Visible="@MotorVisible" FormatString="{0:#,0}" TextAlign="TextAlign.Right" />
            <RadzenDataGridColumn TItem="Car" Property="MotorY.MaxTorque" Title="@TitleMotorMaxTorque"
                Visible="@MotorVisible" FormatString="{0:#,0}" TextAlign="TextAlign.Right" />
            <RadzenDataGridColumn TItem="Car" Property="MotorY.MaxTorqueLowerRpm" Title="@TitleMotorMaxTorqueLowerRpm"
                Visible="@MotorVisible" FormatString="{0:#,0}" TextAlign="TextAlign.Right" />
            <RadzenDataGridColumn TItem="Car" Property="MotorY.MaxTorqueUpperRpm" Title="@TitleMotorMaxTorqueUpperRpm"
                Visible="@MotorVisible" FormatString="{0:#,0}" TextAlign="TextAlign.Right" />

            <!-- Battery -->
            <RadzenDataGridColumn TItem="Car" Property="Battery.Type" Title="@TitleBatteryType"
                Visible="@BatteryVisible" />
            <RadzenDataGridColumn TItem="Car" Property="Battery.Quantity" Title="@TitleBatteryQuantity"
                Visible="@BatteryVisible" TextAlign="TextAlign.Right" />
            <RadzenDataGridColumn TItem="Car" Property="Battery.Voltage" Title="@TitleBatteryVoltage"
                Visible="@BatteryVisible" FormatString="{0:F1}" TextAlign="TextAlign.Right" />
            <RadzenDataGridColumn TItem="Car" Property="Battery.Capacity" Title="@TitleBatteryCapacity"
                Visible="@BatteryVisible" FormatString="{0:F1}" TextAlign="TextAlign.Right" />

            <RadzenDataGridColumn TItem="Car" Property="Steering" Title="@TitleSteering" Visible="@OtherVisible" />
            <RadzenDataGridColumn TItem="Car" Property="SuspensionFront" Title="@TitleSuspensionFront"
                Visible="@OtherVisible" />
            <RadzenDataGridColumn TItem="Car" Property="SuspensionRear" Title="@TitleSuspensionRear"
                Visible="@OtherVisible" />
            <RadzenDataGridColumn TItem="Car" Property="BrakeFront" Title="@TitleBrakeFront" Visible="@OtherVisible" />
            <RadzenDataGridColumn TItem="Car" Property="BrakeRear" Title="@TitleBrakeRear" Visible="@OtherVisible" />

            <!-- TireFront -->
            <RadzenDataGridColumn TItem="Car" Property="TireFront.SectionWidth" Title="@TitleTireSectionWidth"
                Visible="@TireVisible" TextAlign="TextAlign.Right" />
            <RadzenDataGridColumn TItem="Car" Property="TireFront.AspectRatio" Title="@TitleTireAspectRatio"
                Visible="@TireVisible" TextAlign="TextAlign.Right" />
            <RadzenDataGridColumn TItem="Car" Property="TireFront.WheelDiameter" Title="@TitleTireWheelDiameter"
                Visible="@TireVisible" TextAlign="TextAlign.Right" />

            <!-- TireRear -->
            <RadzenDataGridColumn TItem="Car" Property="TireRear.SectionWidth" Title="@TitleTireSectionWidth"
                Visible="@TireVisible" TextAlign="TextAlign.Right" />
            <RadzenDataGridColumn TItem="Car" Property="TireRear.AspectRatio" Title="@TitleTireAspectRatio"
                Visible="@TireVisible" TextAlign="TextAlign.Right" />
            <RadzenDataGridColumn TItem="Car" Property="TireRear.WheelDiameter" Title="@TitleTireWheelDiameter"
                Visible="@TireVisible" TextAlign="TextAlign.Right" />

            <!-- Transmission -->
            <RadzenDataGridColumn TItem="Car" Property="Transmission.Type" Title="@TitleTransmissionType"
                Visible="@TransmissionVisible">
                <Template Context="car">
                    @(ConvertForDisplay<HogeBlazor.Shared.Models.Db.TransmissionType>(car.Transmission.Type))
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="Car" Property="Transmission.GearRatiosFront"
                Title="@TitleTransmissionGearRatiosFront" Visible="@TransmissionVisible" />
            <RadzenDataGridColumn TItem="Car" Property="Transmission.GearRatioRear"
                Title="@TitleTransmissionGearRatioRear" Visible="@TransmissionVisible" TextAlign="TextAlign.Right" />
            <RadzenDataGridColumn TItem="Car" Property="Transmission.ReductionRatioFront"
                Title="@TitleTransmissionReductionRatioFront" Visible="@TransmissionVisible"
                TextAlign="TextAlign.Right" />
            <RadzenDataGridColumn TItem="Car" Property="Transmission.ReductionRatioRear"
                Title="@TitleTransmissionReductionRatioRear" Visible="@TransmissionVisible"
                TextAlign="TextAlign.Right" />

            <RadzenDataGridColumn TItem="Car" Property="FuelEfficiency" Title="@TitleFuelEfficiency"
                Visible="@OtherVisible" />
        </Columns>
    </RadzenDataGrid>
</div>

@* <RadzenDataList WrapItems="true" AllowPaging="true" Data="@CarList" TItem="Car" PageSize="5"
    PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true">
    <Template Context="car">
    <!-- <RadzenCard Style="width: 100%; padding: 0; overflow: hidden;"> -->
    <div class="container">
    <div class="row">
    <div class="col-lg-3 p-3 product-title">
    @(car.MakerName)
    </div>
    </div>
    </div>
    <!-- </RadzenCard> -->
    </Template>
    </RadzenDataList> *@
