@page "/cars"
@using Helpers
@using HogeBlazor.Client.Models

<BreadCrumb />
<div>
    <RadzenCheckBox Name="OuterBodyVisibleCheckBox" Change=@((bool v) => OuterBodyVisible = !OuterBodyVisible) />
    <RadzenLabel Text="外寸" Component="OuterBodyVisibleCheckBox" />

    <RadzenCheckBox Name="PerformanceVisibleCheckBox" Change=@((bool v) => PerformanceVisible = !PerformanceVisible) />
    <RadzenLabel Text="走行性能" Component="PerformanceVisibleCheckBox" />

    <RadzenCheckBox Name="EngineVisibleCheckBox" Change=@((bool v) => EngineVisible = !EngineVisible) />
    <RadzenLabel Text="エンジン" Component="EngineVisibleCheckBox" />

    <RadzenCheckBox Name="MotorVisibleCheckBox" Change=@((bool v) => MotorVisible = !MotorVisible) />
    <RadzenLabel Text="モーター" Component="MotorVisibleCheckBox" />

    <RadzenCheckBox Name="OtherVisibleCheckBox" Change=@((bool v) => OtherVisible = !OtherVisible) />
    <RadzenLabel Text="その他" Component="OtherVisibleCheckBox" />
</div>
<div>
    <RadzenDataGrid Data="@CarList" TItem="CarDisp" AllowColumnResize="true" ColumnWidth="80px" AllowFiltering="true"
        AllowSorting="true" AllowRowSelectOnRowClick="true" EqualsText="一致" NotEqualsText="不一致" ContainsText="含む"
        DoesNotContainText="含まない" StartsWithText="先頭" EndsWithText="末尾" IsNullText="データなし" IsNotNullText="データあり"
        AndOperatorText="かつ" OrOperatorText="または" ClearFilterText="クリア" ApplyFilterText="適用" FilterText="フィルタ"
        SelectionMode="DataGridSelectionMode.Single" RowSelect=@OnRowSelect>
        <Columns>
            <!-- 基本情報 -->
            <RadzenDataGridColumn TItem="CarDisp" Property="MakerName" Frozen="true" Filterable="false"
                Sortable="false">
                <Template Context="car">
                    <div class="flex-container">
                        <div class="flex-item">
                            <div class="image-wrap">
                                <RadzenImage class="image-img" Path=@car.ImageUrl />
                            </div>
                        </div>
                    </div>
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="CarDisp" Property="ModelName" Title=@CarDisp.DisplayName("ModelName")
                Width="100px" Frozen="true" />

            <RadzenDataGridColumn TItem="CarDisp" Property="MakerName" Title=@CarDisp.DisplayName("MakerName")
                Width="80px" />
            <RadzenDataGridColumn TItem="CarDisp" Property="Body.Type" Title=@CarDisp.DisplayName("BodyType")
                Width="80px">
                <Template Context="car">
                    @(ConvertForDisplay<HogeBlazor.Shared.Models.Db.BodyType>(car.BodyType))
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="CarDisp" Property="DriveSystem" Title=@CarDisp.DisplayName("DriveSystem")
                Width="80px" />
            <RadzenDataGridColumn TItem="CarDisp" Property="PowerTrain" Title=@CarDisp.DisplayName("PowerTrain")
                Width="80px">
                <Template Context="car">
                    @(ConvertForDisplay<HogeBlazor.Shared.Models.Db.PowerTrain>(car.PowerTrain))
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="CarDisp" Property="ModelCode" Title=@CarDisp.DisplayName("ModelCode")
                Width="80px" />
            <RadzenDataGridColumn TItem="CarDisp" Property="GradeName" Title=@CarDisp.DisplayName("GradeName")
                Width="100px" />
            <RadzenDataGridColumn TItem="CarDisp" Property="Price" Title=@CarDisp.DisplayName("Price")
                TextAlign="TextAlign.Right" Width="100px">
                <Template Context="car">
                    @String.Format(new System.Globalization.CultureInfo("ja-JP"), "{0:C0}", car.Price)
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="CarDisp" Property="ModelChange.Full" Title=@(ModelChange.DisplayName("Full") +
                CarDisp.DisplayName("ModelChange")) Width="60px" />
            <RadzenDataGridColumn TItem="CarDisp" Property="ModelChange.Last" Title=@(ModelChange.DisplayName("Last") +
                CarDisp.DisplayName("ModelChange")) Width="60px" />

            <!-- Performance -->
            <RadzenDataGridColumn TItem="CarDisp" Property="MinTurningRadius"
                Title=@CarDisp.DisplayName("MinTurningRadius") FormatString="{0:F1}" TextAlign="TextAlign.Right"
                Width="40px" Visible=@PerformanceVisible />
            <RadzenDataGridColumn TItem="CarDisp" Property="Fcr.FcrWltc" Title=@Fcr.DisplayName("FcrWltc")
                FormatString="{0:F1}" TextAlign="TextAlign.Right" Width="80px" Visible=@PerformanceVisible />
            <RadzenDataGridColumn TItem="CarDisp" Property="Ecr.MpcWltc" Title=@Ecr.DisplayName("MpcWltc")
                FormatString="{0:F1}" TextAlign="TextAlign.Right" Width="80px" Visible=@PerformanceVisible />
            <RadzenDataGridColumn TItem="CarDisp" Property="Ecr.EcrWltc" Title=@Ecr.DisplayName("EcrWltc")
                FormatString="{0:F1}" TextAlign="TextAlign.Right" Width="80px" Visible=@PerformanceVisible />

            <!-- Engine -->
            <RadzenDataGridColumn TItem="CarDisp" Property="Engine.Type" Title=@(CarDisp.DisplayName("Engine") +
                Models.Engine.DisplayName("Type")) Width="80px" Visible=@EngineVisible />
            <RadzenDataGridColumn TItem="CarDisp" Property="Engine.Displacement"
                Title=@Models.Engine.DisplayName("Displacement") TextAlign="TextAlign.Right" Width="80px"
                Visible=@EngineVisible />
            <RadzenDataGridColumn TItem="CarDisp" Property="Engine.MaxOutput" Title=@(CarDisp.DisplayName("Engine") +
                Models.Engine.DisplayName("MaxOutput")) FormatString="{0:F1}" TextAlign="TextAlign.Right" Width="80px"
                Visible=@EngineVisible />
            <RadzenDataGridColumn TItem="CarDisp" Property="Engine.MaxTorque" Title=@(CarDisp.DisplayName("Engine") +
                Models.Engine.DisplayName("MaxTorque")) FormatString="{0:F1}" TextAlign="TextAlign.Right" Width="80px"
                Visible=@EngineVisible />
            <RadzenDataGridColumn TItem="CarDisp" Property="Engine.FuelType"
                Title=@Models.Engine.DisplayName("FuelType") Width="80px" Visible=@EngineVisible>
                <Template Context="car">
                    @(ConvertForDisplay<HogeBlazor.Shared.Models.Db.FuelType>(car.Engine.FuelType))
                </Template>
            </RadzenDataGridColumn>

            <!-- MotorX -->
            <RadzenDataGridColumn TItem="CarDisp" Property="MotorX.Purpose" Title=@(CarDisp.DisplayName("MotorX") +
                Models.Motor.DisplayName("Purpose")) Width="80px" Visible=@MotorVisible />
            <RadzenDataGridColumn TItem="CarDisp" Property="MotorX.MaxOutput" Title=@(CarDisp.DisplayName("MotorX") +
                Models.Motor.DisplayName("MaxOutput")) FormatString="{0:#,0}" TextAlign="TextAlign.Right" Width="80px"
                Visible=@MotorVisible />
            <RadzenDataGridColumn TItem="CarDisp" Property="MotorX.MaxTorque" Title=@(CarDisp.DisplayName("MotorX") +
                Models.Motor.DisplayName("MaxTorque")) FormatString="{0:#,0}" TextAlign="TextAlign.Right" Width="80px"
                Visible=@MotorVisible />

            <!-- MotorY -->
            <RadzenDataGridColumn TItem="CarDisp" Property="MotorY.Purpose" Title=@(CarDisp.DisplayName("MotorY") +
                Models.Motor.DisplayName("Purpose")) Width="80px" Visible=@MotorVisible />
            <RadzenDataGridColumn TItem="CarDisp" Property="MotorY.MaxOutput" Title=@(CarDisp.DisplayName("MotorY") +
                Models.Motor.DisplayName("MaxOutput")) FormatString="{0:#,0}" TextAlign="TextAlign.Right" Width="80px"
                Visible=@MotorVisible />
            <RadzenDataGridColumn TItem="CarDisp" Property="MotorY.MaxTorque" Title=@(CarDisp.DisplayName("MotorY") +
                Models.Motor.DisplayName("MaxTorque")) FormatString="{0:#,0}" TextAlign="TextAlign.Right" Width="80px"
                Visible=@MotorVisible />

            <!-- OuterBody -->
            <RadzenDataGridColumn TItem="CarDisp" Property="OuterBody.Length" Title=@(OuterBody.DisplayName("Length") +
                "(mm)") FormatString="{0:#,0}" TextAlign="TextAlign.Right" Width="80px" Visible=@OuterBodyVisible />
            <RadzenDataGridColumn TItem="CarDisp" Property="OuterBody.Width" Title=@(OuterBody.DisplayName("Width") +
                "(mm)") FormatString="{0:#,0}" TextAlign="TextAlign.Right" Width="80px" Visible=@OuterBodyVisible />
            <RadzenDataGridColumn TItem="CarDisp" Property="OuterBody.Height" Title=@(OuterBody.DisplayName("Height") +
                "(mm)") FormatString="{0:#,0}" TextAlign="TextAlign.Right" Width="80px" Visible=@OuterBodyVisible />
            <RadzenDataGridColumn TItem="CarDisp" Property="OuterBody.WheelBase"
                Title=@(OuterBody.DisplayName("WheelBase") + "(mm)") FormatString="{0:#,0}" TextAlign="TextAlign.Right"
                Width="80px" Visible=@OuterBodyVisible />
            <RadzenDataGridColumn TItem="CarDisp" Property="OuterBody.TreadFront"
                Title=@(OuterBody.DisplayName("TreadFront") + "(mm)") FormatString="{0:#,0}" TextAlign="TextAlign.Right"
                Width="80px" Visible=@OuterBodyVisible />
            <RadzenDataGridColumn TItem="CarDisp" Property="OuterBody.TreadRear"
                Title=@(OuterBody.DisplayName("TreadRear") + "(mm)") FormatString="{0:#,0}" TextAlign="TextAlign.Right"
                Width="80px" Visible=@OuterBodyVisible />
            <RadzenDataGridColumn TItem="CarDisp" Property="OuterBody.MinRoadClearance"
                Title=@(OuterBody.DisplayName("MinRoadClearance") + "(mm)") FormatString="{0:#,0}"
                TextAlign="TextAlign.Right" Width="80px" Visible=@OuterBodyVisible />

            <!-- Other -->
            <RadzenDataGridColumn TItem="CarDisp" Property="OtherBody.Weight" Title=@OtherBody.DisplayName("Weight")
                FormatString="{0:#,0}" TextAlign="TextAlign.Right" Width="80px" Visible=@OtherVisible />
            <RadzenDataGridColumn TItem="CarDisp" Property="OtherBody.DoorNum" Title=@OtherBody.DisplayName("DoorNum")
                FormatString="{0:#,0}" TextAlign="TextAlign.Right" Width="80px" Visible=@OtherVisible />
            <RadzenDataGridColumn TItem="CarDisp" Property="OtherBody.LuggageCap"
                Title=@OtherBody.DisplayName("LuggageCap") FormatString="{0:#,0}" TextAlign="TextAlign.Right"
                Width="80px" Visible=@OtherVisible />
            <RadzenDataGridColumn TItem="CarDisp" Property="OtherBody.RidingCap"
                Title=@OtherBody.DisplayName("RidingCap") FormatString="{0:#,0}" TextAlign="TextAlign.Right"
                Width="80px" Visible=@OtherVisible />
        </Columns>
    </RadzenDataGrid>
</div>
