@page "/cars"
@using HogeBlazor.Client.Models
@using HogeBlazor.Shared.Models.Dto

<BreadCrumb />
<RadzenPanel>
    <RadzenDropDown @bind-Value=@Query.MakerNames Data=@MakerNames Multiple="true" AllowClear="true"
        Placeholder=@CarLabel.MakerName Chips="true" />
    <RadzenDropDown @bind-Value=@Query.PowerTrain Data=@PowerTrains TextProperty="Label" ValueProperty="Value"
        Placeholder=@CarLabel.PowerTrain />
    <RadzenDropDown @bind-Value=@Query.DriveSystem Data=@DriveSystems TextProperty="Label" ValueProperty="Value"
        Placeholder=@CarLabel.DriveSystem />
    <RadzenDropDown @bind-Value=@Query.BodyType Data=@BodyTypes TextProperty="Label" ValueProperty="Value"
        Placeholder=@CarLabel.BodyType />
    <RadzenDropDown @bind-Value=@Query.FuelType Data=@FuelTypes TextProperty="Label" ValueProperty="Value"
        Placeholder=@CarLabel.FuelType />
    <div>
        <RadzenLabel Text=@CarLabel.Price />
        <RadzenNumeric ShowUpDown=false TValue="int?" @bind-Value=@Query.Price.Lower Placeholder=@CarLabel.LowerLimit
            TextAlign="TextAlign.Right" />
        <RadzenLabel Text=@CarLabel.Between />
        <RadzenNumeric ShowUpDown="false" TValue="int?" @bind-Value=@Query.Price.Upper Placeholder=@CarLabel.UpperLimit
            TextAlign="TextAlign.Right" />
    </div>
    <div>
        <RadzenLabel Text=@CarLabel.OuterBody_Length />
        <RadzenNumeric ShowUpDown="false" TValue="int?" @bind-Value=@Query.BodyLength.Lower
            Placeholder=@CarLabel.LowerLimit TextAlign="TextAlign.Right" />
        <RadzenLabel Text=@CarLabel.Between />
        <RadzenNumeric ShowUpDown="false" TValue="int?" @bind-Value=@Query.BodyLength.Upper
            Placeholder=@CarLabel.UpperLimit TextAlign="TextAlign.Right" />
    </div>
    <div>
        <RadzenLabel Text=@CarLabel.OuterBody_Width />
        <RadzenNumeric ShowUpDown="false" TValue="int?" @bind-Value=@Query.BodyWidth.Lower
            Placeholder=@CarLabel.LowerLimit TextAlign="TextAlign.Right" />
        <RadzenLabel Text=@CarLabel.Between />
        <RadzenNumeric ShowUpDown="false" TValue="int?" @bind-Value=@Query.BodyWidth.Upper
            Placeholder=@CarLabel.UpperLimit TextAlign="TextAlign.Right" />
    </div>
    <div>
        <RadzenLabel Text=@CarLabel.OuterBody_Height />
        <RadzenNumeric ShowUpDown="false" TValue="int?" @bind-Value=@Query.BodyHeight.Lower
            Placeholder=@CarLabel.LowerLimit TextAlign="TextAlign.Right" />
        <RadzenLabel Text="@CarLabel.Between" />
        <RadzenNumeric ShowUpDown="false" TValue="int?" @bind-Value=@Query.BodyHeight.Upper
            Placeholder=@CarLabel.UpperLimit TextAlign="TextAlign.Right" />
    </div>
    <div>
        <RadzenLabel Text=@CarLabel.Weight />
        <RadzenNumeric ShowUpDown="false" TValue="int?" @bind-Value=@Query.Weight.Upper Placeholder=@CarLabel.UpperLimit
            TextAlign="TextAlign.Right" />
    </div>
    <div>
        <RadzenLabel Text=@CarLabel.DoorNum />
        <RadzenNumeric ShowUpDown="false" TValue="int?" @bind-Value=@Query.DoorNum.Lower
            Placeholder=@CarLabel.LowerLimit TextAlign="TextAlign.Right" />
    </div>
    <div>
        <RadzenLabel Text=@CarLabel.RidingCap />
        <RadzenNumeric ShowUpDown="false" TValue="int?" @bind-Value=@Query.RidingCap.Lower
            Placeholder=@CarLabel.LowerLimit TextAlign="TextAlign.Right" />
        <RadzenLabel Text=@CarLabel.Between />
        <RadzenNumeric ShowUpDown="false" TValue="int?" @bind-Value=@Query.RidingCap.Upper
            Placeholder=@CarLabel.UpperLimit TextAlign="TextAlign.Right" />
    </div>
    <div>
        <RadzenLabel Text="@(CarLabel.Fcr + CarLabel.Wltc)" />
        <RadzenNumeric ShowUpDown="false" TValue="int?" @bind-Value=@Query.FcrWltc.Lower
            Placeholder=@CarLabel.LowerLimit TextAlign="TextAlign.Right" />
    </div>
    <div>
        <RadzenLabel Text="@(CarLabel.Fcr + CarLabel.Jc08)" />
        <RadzenNumeric ShowUpDown="false" TValue="int?" @bind-Value=@Query.FcrJc08.Lower
            Placeholder=@CarLabel.LowerLimit TextAlign="TextAlign.Right" />
    </div>
    <div>
        <RadzenLabel Text="@CarLabel.MpcWltc" />
        <RadzenNumeric ShowUpDown="false" TValue="int?" @bind-Value=@Query.MpcWltc.Lower
            Placeholder=@CarLabel.LowerLimit TextAlign="TextAlign.Right" />
    </div>
    <div>
        <RadzenLabel Text="@(CarLabel.Ecr + CarLabel.Wltc)" />
        <RadzenNumeric ShowUpDown="false" TValue="int?" @bind-Value=@Query.EcrWltc.Lower
            Placeholder=@CarLabel.LowerLimit TextAlign="TextAlign.Right" />
    </div>
    <div>
        <RadzenLabel Text="@(CarLabel.Ecr + CarLabel.Jc08)" />
        <RadzenNumeric ShowUpDown="false" TValue="int?" @bind-Value=@Query.EcrJc08.Lower
            Placeholder=@CarLabel.LowerLimit TextAlign="TextAlign.Right" />
    </div>
    <div>
        <RadzenLabel Text="@CarLabel.MpcJc08" />
        <RadzenNumeric ShowUpDown="false" TValue="int?" @bind-Value=@Query.MpcJc08.Lower
            Placeholder=@CarLabel.LowerLimit TextAlign="TextAlign.Right" />
    </div>
</RadzenPanel>
<div>
    <RadzenCheckBox Name="OuterBodyVisibleCheckBox" Change=@((bool v) => OuterBodyVisible = !OuterBodyVisible) />
    <RadzenLabel Text=@CarLabel.OuterBody Component="OuterBodyVisibleCheckBox" />

    <RadzenCheckBox Name="PerformanceVisibleCheckBox" Change=@((bool v) => PerformanceVisible = !PerformanceVisible) />
    <RadzenLabel Text=@CarLabel.Performance Component="PerformanceVisibleCheckBox" />

    <RadzenCheckBox Name="EngineVisibleCheckBox" Change=@((bool v) => EngineVisible = !EngineVisible) />
    <RadzenLabel Text=@CarLabel.Engine Component="EngineVisibleCheckBox" />

    <RadzenCheckBox Name="MotorVisibleCheckBox" Change=@((bool v) => MotorVisible = !MotorVisible) />
    <RadzenLabel Text="モーター" Component="MotorVisibleCheckBox" />

    <RadzenCheckBox Name="OtherVisibleCheckBox" Change=@((bool v) => OtherVisible = !OtherVisible) />
    <RadzenLabel Text="その他" Component="OtherVisibleCheckBox" />
</div>
<div>
    <RadzenDataGrid Data=@Items TItem="HogeBlazor.Shared.Models.Dto.CarDto" AllowColumnResize="true" ColumnWidth="80px"
        AllowFiltering="true" AllowSorting="true" AllowRowSelectOnRowClick="true" EqualsText="一致" NotEqualsText="不一致"
        ContainsText="含む" DoesNotContainText="含まない" StartsWithText="先頭" EndsWithText="末尾" IsNullText="データなし"
        IsNotNullText="データあり" AndOperatorText="かつ" OrOperatorText="または" ClearFilterText="クリア" ApplyFilterText="適用"
        FilterText="フィルタ" SelectionMode="DataGridSelectionMode.Single" RowSelect=@OnRowSelect>
        <Columns>
            <!-- 基本情報 -->
            <RadzenDataGridColumn TItem="HogeBlazor.Shared.Models.Dto.CarDto" Property="MakerName" Frozen="true"
                Filterable="false" Sortable="false">
                <Template Context="car">
                    <div class="flex-container">
                        <div class="flex-item">
                            <div class="image-wrap">
                                <RadzenImage class="image-img" Path=@car.ImageUrl />
                            </div>
                        </div>
                    </div>
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="HogeBlazor.Shared.Models.Dto.CarDto" Property="ModelName"
                Title=@CarLabel.MakerName Width="100px" Frozen="true" />

            <RadzenDataGridColumn TItem="HogeBlazor.Shared.Models.Dto.CarDto" Property="MakerName"
                Title=@CarLabel.MakerName Width="80px" />
            <RadzenDataGridColumn TItem="HogeBlazor.Shared.Models.Dto.CarDto" Property="Body.Type"
                Title=@CarLabel.BodyType Width="80px">
                <Template Context="car">
                    @(BodyType.GetLabel(car.BodyType))
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="HogeBlazor.Shared.Models.Dto.CarDto" Property="DriveSystem"
                Title=@CarLabel.DriveSystem Width="80px" />
            <RadzenDataGridColumn TItem="HogeBlazor.Shared.Models.Dto.CarDto" Property="PowerTrain"
                Title=@CarLabel.PowerTrain Width="80px">
                <Template Context="car">
                    @(PowerTrain.GetLabel(car.PowerTrain))
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="HogeBlazor.Shared.Models.Dto.CarDto" Property="ModelCode"
                Title=@CarLabel.ModelCode Width="80px" />
            <RadzenDataGridColumn TItem="HogeBlazor.Shared.Models.Dto.CarDto" Property="GradeName"
                Title=@CarLabel.GradeName Width="100px" />
            <RadzenDataGridColumn TItem="HogeBlazor.Shared.Models.Dto.CarDto" Property="Price" Title="@CarLabel.Price"
                TextAlign="TextAlign.Right" Width="100px">
                <Template Context="car">
                    @String.Format(new System.Globalization.CultureInfo("ja-JP"), "{0:C0}", car.Price)
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="HogeBlazor.Shared.Models.Dto.CarDto" Property="ModelChange.Full"
                Title="@(CarLabel.Full + CarLabel.ModelChange)" Width="60px" />
            <RadzenDataGridColumn TItem="HogeBlazor.Shared.Models.Dto.CarDto" Property="ModelChange.Last"
                Title="@(@CarLabel.Last + @CarLabel.ModelChange)" Width="60px" />

            <!-- Performance -->
            <RadzenDataGridColumn TItem="HogeBlazor.Shared.Models.Dto.CarDto" Property="MinTurningRadius"
                Title="@CarLabel.MinTurningRadius" FormatString="{0:F1}" TextAlign="TextAlign.Right" Width="40px"
                Visible=@PerformanceVisible />
            <RadzenDataGridColumn TItem="HogeBlazor.Shared.Models.Dto.CarDto" Property="Fcr.FcrWltc"
                Title="@(CarLabel.Fcr + CarLabel.Wltc)" FormatString="{0:F1}" TextAlign="TextAlign.Right" Width="80px"
                Visible=@PerformanceVisible />
            <RadzenDataGridColumn TItem="HogeBlazor.Shared.Models.Dto.CarDto" Property="Ecr.MpcWltc"
                Title="@(CarLabel.Ecr + CarLabel.MpcWltc)" FormatString="{0:F1}" TextAlign="TextAlign.Right"
                Width="80px" Visible=@PerformanceVisible />
            <RadzenDataGridColumn TItem="HogeBlazor.Shared.Models.Dto.CarDto" Property="Ecr.EcrWltc"
                Title="@(CarLabel.Ecr + CarLabel.Wltc)" FormatString="{0:F1}" TextAlign="TextAlign.Right" Width="80px"
                Visible=@PerformanceVisible />

            <!-- Engine -->
            <RadzenDataGridColumn TItem="HogeBlazor.Shared.Models.Dto.CarDto" Property="Engine.Type"
                Title="@CarLabel.Type" Width="80px" Visible=@EngineVisible />
            <RadzenDataGridColumn TItem="HogeBlazor.Shared.Models.Dto.CarDto" Property="Engine.Displacement"
                Title="@CarLabel.Displacement" TextAlign="TextAlign.Right" Width="80px" Visible=@EngineVisible />
            <RadzenDataGridColumn TItem="HogeBlazor.Shared.Models.Dto.CarDto" Property="Engine.MaxOutput"
                Title="@(CarLabel.Engine + CarLabel.MaxOutput)" FormatString="{0:F1}" TextAlign="TextAlign.Right"
                Width="80px" Visible=@EngineVisible />
            <RadzenDataGridColumn TItem="HogeBlazor.Shared.Models.Dto.CarDto" Property="Engine.MaxTorque"
                Title="@(CarLabel.Engine + @CarLabel.MaxTorque)" FormatString="{0:F1}" TextAlign="TextAlign.Right"
                Width="80px" Visible=@EngineVisible />
            <RadzenDataGridColumn TItem="HogeBlazor.Shared.Models.Dto.CarDto" Property="Engine.FuelType"
                Title="@CarLabel.FuelType" Width="80px" Visible=@EngineVisible>
                <Template Context="car">
                    @(FuelType.GetLabel(car.Engine.FuelType))
                </Template>
            </RadzenDataGridColumn>

            <!-- MotorX -->
            <RadzenDataGridColumn TItem="HogeBlazor.Shared.Models.Dto.CarDto" Property="MotorX.Purpose"
                Title="@(CarLabel.MotorX + CarLabel.Purpose)" Width="80px" Visible=@MotorVisible />
            <RadzenDataGridColumn TItem="HogeBlazor.Shared.Models.Dto.CarDto" Property="MotorX.MaxOutput"
                Title="@(CarLabel.MotorX + CarLabel.MaxOutput)" FormatString="{0:#,0}" TextAlign="TextAlign.Right"
                Width="80px" Visible=@MotorVisible />
            <RadzenDataGridColumn TItem="HogeBlazor.Shared.Models.Dto.CarDto" Property="MotorX.MaxTorque"
                Title="@(CarLabel.MotorX + CarLabel.MaxTorque)" FormatString="{0:#,0}" TextAlign="TextAlign.Right"
                Width="80px" Visible=@MotorVisible />

            <!-- MotorY -->
            <RadzenDataGridColumn TItem="HogeBlazor.Shared.Models.Dto.CarDto" Property="MotorY.Purpose"
                Title="@(CarLabel.MotorY + CarLabel.Purpose)" Width="80px" Visible=@MotorVisible />
            <RadzenDataGridColumn TItem="HogeBlazor.Shared.Models.Dto.CarDto" Property="MotorY.MaxOutput"
                Title="@(CarLabel.MotorY + CarLabel.MaxOutput)" FormatString="{0:#,0}" TextAlign="TextAlign.Right"
                Width="80px" Visible=@MotorVisible />
            <RadzenDataGridColumn TItem="HogeBlazor.Shared.Models.Dto.CarDto" Property="MotorY.MaxTorque"
                Title="@(CarLabel.MotorY + CarLabel.MaxTorque)" FormatString="{0:#,0}" TextAlign="TextAlign.Right"
                Width="80px" Visible=@MotorVisible />

            <!-- OuterBody -->
            <RadzenDataGridColumn TItem="HogeBlazor.Shared.Models.Dto.CarDto" Property="OuterBody.Length"
                Title="@CarLabel.OuterBody_Length" FormatString="{0:#,0}" TextAlign="TextAlign.Right" Width="80px"
                Visible=@OuterBodyVisible />
            <RadzenDataGridColumn TItem="HogeBlazor.Shared.Models.Dto.CarDto" Property="OuterBody.Width"
                Title="@CarLabel.OuterBody_Width" FormatString="{0:#,0}" TextAlign="TextAlign.Right" Width="80px"
                Visible=@OuterBodyVisible />
            <RadzenDataGridColumn TItem="HogeBlazor.Shared.Models.Dto.CarDto" Property="OuterBody.Height"
                Title="@CarLabel.OuterBody_Height" FormatString="{0:#,0}" TextAlign="TextAlign.Right" Width="80px"
                Visible=@OuterBodyVisible />
            <RadzenDataGridColumn TItem="HogeBlazor.Shared.Models.Dto.CarDto" Property="OuterBody.WheelBase"
                Title="@CarLabel.WheelBase" FormatString="{0:#,0}" TextAlign="TextAlign.Right" Width="80px"
                Visible=@OuterBodyVisible />
            <RadzenDataGridColumn TItem="HogeBlazor.Shared.Models.Dto.CarDto" Property="OuterBody.TreadFront"
                Title="@(CarLabel.Tread + CarLabel.Front)" FormatString="{0:#,0}" TextAlign="TextAlign.Right"
                Width="80px" Visible=@OuterBodyVisible />
            <RadzenDataGridColumn TItem="HogeBlazor.Shared.Models.Dto.CarDto" Property="OuterBody.TreadRear"
                Title="@(CarLabel.Tread + CarLabel.Rear)" FormatString="{0:#,0}" TextAlign="TextAlign.Right"
                Width="80px" Visible=@OuterBodyVisible />
            <RadzenDataGridColumn TItem="HogeBlazor.Shared.Models.Dto.CarDto" Property="OuterBody.MinRoadClearance"
                Title="@CarLabel.MinRoadClearance" FormatString="{0:#,0}" TextAlign="TextAlign.Right" Width="80px"
                Visible=@OuterBodyVisible />

            <!-- Other -->
            <RadzenDataGridColumn TItem="HogeBlazor.Shared.Models.Dto.CarDto" Property="OtherBody.Weight"
                Title="@CarLabel.Weight" FormatString="{0:#,0}" TextAlign="TextAlign.Right" Width="80px"
                Visible=@OtherVisible />
            <RadzenDataGridColumn TItem="HogeBlazor.Shared.Models.Dto.CarDto" Property="OtherBody.DoorNum"
                Title="@CarLabel.DoorNum" FormatString="{0:#,0}" TextAlign="TextAlign.Right" Width="80px"
                Visible=@OtherVisible />
            <RadzenDataGridColumn TItem="HogeBlazor.Shared.Models.Dto.CarDto" Property="OtherBody.LuggageCap"
                Title="@CarLabel.LuggageCap" FormatString="{0:#,0}" TextAlign="TextAlign.Right" Width="80px"
                Visible=@OtherVisible />
            <RadzenDataGridColumn TItem="HogeBlazor.Shared.Models.Dto.CarDto" Property="OtherBody.RidingCap"
                Title="@CarLabel.RidingCap" FormatString="{0:#,0}" TextAlign="TextAlign.Right" Width="80px"
                Visible=@OtherVisible />
        </Columns>
    </RadzenDataGrid>
</div>
