@page "/"
@inject ILogger<Counter> logger
@using Models

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
<RadzenButton Click="@ButtonClicked" Text="@text"></RadzenButton>
<RadzenButton Click="@ButtonClicked" Text="ごごご"></RadzenButton>
<RadzenButton Click="@ButtonClicked" Text="ももも"></RadzenButton>
<RadzenButton Click="@ButtonClicked" Text="ももも"></RadzenButton>
<RadzenCard>
    <RadzenDataList Data="@items" TItem="Hoge">

    </RadzenDataList>
</RadzenCard>

@code {
    IEnumerable<Hoge> items = new List<Hoge>() {new Hoge() {Name = "unko"}};
    string text = "ほげ";
    void ButtonClicked()
    {
        logger.LogWarning("ほげ");
    }
}
 