@using HogeBlazor.Client.Models

<div class="spec-item">
    <div class="spec-row">
        <div class="spec-title">@(Fcr.DisplayName("FcrWltc"))</div>
        <div class="spec-value">@ToString(Fcr.FcrWltc)</div>
    </div>
    <div class="spec-row">
        <div class="spec-sub-title">@(Fcr.DisplayName("FcrWltcL"))
        </div>
        <div class="spec-value">@ToString(Fcr.FcrWltcL)</div>
    </div>
    <div class="spec-row">
        <div class="spec-sub-title">@(Fcr.DisplayName("FcrWltcM"))
        </div>
        <div class="spec-value">@ToString(Fcr.FcrWltcM)</div>
    </div>
    <div class="spec-row">
        <div class="spec-sub-title">@(Fcr.DisplayName("FcrWltcH"))
        </div>
        <div class="spec-value">@ToString(Fcr.FcrWltcH)</div>
    </div>
    <div class="spec-row">
        <div class="spec-title">@(Fcr.DisplayName("FcrJc08"))</div>
        <div class="spec-value">@ToString(Fcr.FcrJc08)</div>
    </div>
</div>