@using HogeBlazor.Client.Models

<div class="spec-item">
    <div class="spac-row">
        <div class="spec-title">@CarLabel.Fcr</div>
    </div>
    <div class="spec-row">
        <div class="spec-title">@CarLabel.Wltc</div>
        <div class="spec-value">@ToString(Fcr.Wltc)</div>
    </div>
    <div class="spec-row">
        <div class="spec-sub-title">@CarLabel.WltcL
        </div>
        <div class="spec-value">@ToString(Fcr.WltcL)</div>
    </div>
    <div class="spec-row">
        <div class="spec-sub-title">@CarLabel.WltcM
        </div>
        <div class="spec-value">@ToString(Fcr.WltcM)</div>
    </div>
    <div class="spec-row">
        <div class="spec-sub-title">@CarLabel.WltcH
        </div>
        <div class="spec-value">@ToString(Fcr.WltcH)</div>
    </div>
    <div class="spec-row">
        <div class="spec-title">@CarLabel.Jc08</div>
        <div class="spec-value">@ToString(Fcr.Jc08)</div>
    </div>
</div>