<div class="spec-item">
    <div class="spec-row">
        <div class="spec-title">燃料消費率WLTCモード(km/L)</div>
        <div class="spec-value">@Perf.FcrWltc</div>
    </div>
    <div class="spec-row">
        <div class="spec-sub-title">市街地モード(WLTC-L)</div>
        <div class="spec-value">@Perf.FcrWltcL</div>
    </div>
    <div class="spec-row">
        <div class="spec-sub-title">郊外モード(WLTC-M)</div>
        <div class="spec-value">@Perf.FcrWltcM</div>
    </div>
    <div class="spec-row">
        <div class="spec-sub-title">高速道路(WLTC-H)</div>
        <div class="spec-value">@Perf.FcrWltcH</div>
    </div>
    <div class="spec-row">
        <div class="spec-title">燃料消費率JC08モード(km/L)</div>
        <div class="spec-value">@Perf.FcrJc08</div>
    </div>
</div>