<div class="spec-item">
    <div class="spec-row">
        <div class="spec-title">@FcrWltcTitle</div>
        <div class="spec-value">@FcrWltc</div>
    </div>
    <div class="spec-row">
        <div class="spec-sub-title">@FcrWltcLTitle</div>
        <div class="spec-value">@FcrWltcL</div>
    </div>
    <div class="spec-row">
        <div class="spec-sub-title">@FcrWltcMTitle</div>
        <div class="spec-value">@FcrWltcM</div>
    </div>
    <div class="spec-row">
        <div class="spec-sub-title">@FcrWltcHTitle</div>
        <div class="spec-value">@FcrWltcH</div>
    </div>
    <div class="spec-row">
        <div class="spec-title">@MpcWltcTitle</div>
        <div class="spec-value">@MpcWltc</div>
    </div>
</div>