@using HogeBlazor.Client.Models

<div class="spec-item">
    <div class="spec-row">
        <div class="spec-title">@(Ecr.DisplayName("EcrWltc"))</div>
        <div class="spec-value">@ToString(Ecr.EcrWltc)</div>
    </div>
    <div class="spec-row">
        <div class="spec-sub-title">@(Ecr.DisplayName("EcrWltcL"))
        </div>
        <div class="spec-value">@ToString(Ecr.EcrWltcL)</div>
    </div>
    <div class="spec-row">
        <div class="spec-sub-title">@(Ecr.DisplayName("EcrWltcM"))
        </div>
        <div class="spec-value">@ToString(Ecr.EcrWltcM)</div>
    </div>
    <div class="spec-row">
        <div class="spec-sub-title">@(Ecr.DisplayName("EcrWltcH"))
        </div>
        <div class="spec-value">@ToString(Ecr.EcrWltcH)</div>
    </div>
    <div class="spec-row">
        <div class="spec-title">@(Ecr.DisplayName("MpcWltc"))</div>
        <div class="spec-value">@ToString(Ecr.MpcWltc)</div>
    </div>
    <div class="spec-row">
        <div class="spec-title">@(Ecr.DisplayName("EcrJc08"))</div>
        <div class="spec-value">@ToString(Ecr.EcrJc08)</div>
    </div>
    <div class="spec-row">
        <div class="spec-title">@(Ecr.DisplayName("MpcJc08"))</div>
        <div class="spec-value">@ToString(Ecr.MpcJc08)</div>
    </div>
</div>