<div class="spec-item">
    <div class="spec-row">
        <div class="spec-title">@EcrWltcTitle</div>
        <div class="spec-value">@EcrWltc</div>
    </div>
    <div class="spec-row">
        <div class="spec-sub-title">@EcrWltcLTitle</div>
        <div class="spec-value">@EcrWltcL</div>
    </div>
    <div class="spec-row">
        <div class="spec-sub-title">@EcrWltcMTitle</div>
        <div class="spec-value">@EcrWltcM</div>
    </div>
    <div class="spec-row">
        <div class="spec-sub-title">@EcrWltcHTitle</div>
        <div class="spec-value">@EcrWltcH</div>
    </div>
    <div class="spec-row">
        <div class="spec-title">@MpcWltcTitle</div>
        <div class="spec-value">@MpcWltc</div>
    </div>
    <div class="spec-row">
        <div class="spec-title">@EcrJc08Title</div>
        <div class="spec-value">@EcrJc08</div>
    </div>
    <div class="spec-row">
        <div class="spec-title">@MpcJc08Title</div>
        <div class="spec-value">@MpcJc08</div>
    </div>
</div>