@using HogeBlazor.Client.Models

<div class="spec-item">
    <div class="spec-row">
        <div class="spec-title">@CarLabel.Ecr</div>
    </div>
    <div class="spec-row">
        <div class="spec-title">@CarLabel.Wltc</div>
        <div class="spec-value">@ToString(Ecr.Wltc)</div>
    </div>
    <div class="spec-row">
        <div class="spec-sub-title">@CarLabel.WltcL
        </div>
        <div class="spec-value">@ToString(Ecr.WltcL)</div>
    </div>
    <div class="spec-row">
        <div class="spec-sub-title">@CarLabel.WltcM
        </div>
        <div class="spec-value">@ToString(Ecr.WltcM)</div>
    </div>
    <div class="spec-row">
        <div class="spec-sub-title">@CarLabel.WltcH
        </div>
        <div class="spec-value">@ToString(Ecr.WltcH)</div>
    </div>
    <div class="spec-row">
        <div class="spec-title">@CarLabel.MpcWltc</div>
        <div class="spec-value">@ToString(Ecr.MpcWltc)</div>
    </div>
    <div class="spec-row">
        <div class="spec-title">@CarLabel.Jc08</div>
        <div class="spec-value">@ToString(Ecr.Jc08)</div>
    </div>
    <div class="spec-row">
        <div class="spec-title">@CarLabel.MpcJc08</div>
        <div class="spec-value">@ToString(Ecr.MpcJc08)</div>
    </div>
</div>