<div class="spec-item">
    <div class="spec-row">
        <div class="spec-title">交流電力消費率WTLCモード(Wh/km)</div>
        <div class="spec-value">@ToString(Perf.EcrWltc)</div>
    </div>
    <div class="spec-row">
        <div class="spec-sub-title">市街地モード(WLTC-L)</div>
        <div class="spec-value">@ToString(Perf.EcrWltcL)</div>
    </div>
    <div class="spec-row">
        <div class="spec-sub-title">郊外モード(WLTC-M)</div>
        <div class="spec-value">@ToString(Perf.EcrWltcM)</div>
    </div>
    <div class="spec-row">
        <div class="spec-sub-title">高速道路モード(WLTC-H)</div>
        <div class="spec-value">@ToString(Perf.EcrWltcH)</div>
    </div>
    <div class="spec-row">
        <div class="spec-title">一充電走行距離WLTCモード(km)</div>
        <div class="spec-value">@ToString(Perf.MpcWltc)</div>
    </div>
    <div class="spec-row">
        <div class="spec-title">交流電力消費率JC08モード(Wh/km)</div>
        <div class="spec-value">@ToString(Perf.EcrJc08)</div>
    </div>
    <div class="spec-row">
        <div class="spec-title">一充電走行距離JC08モード(km)</div>
        <div class="spec-value">@ToString(Perf.MpcJc08)</div>
    </div>
</div>